//Colors
$hollywood-cerise: #c800a1;
$flamingo: #f4633a;

$silver: #c7c7c7;
$dark-silver: #bebebe;
$wild-sand: #f4f4f4;

$black: #000000;
$white: #ffffff;

//Roles
$primary-color: $hollywood-cerise;
$secondary-color: $flamingo;

$dark-color: $black;
$light-color: $white;

//Inputs
$input-primary-color: $dark-silver;

//Login
$dark-border: $silver;
$login-main-container: $wild-sand;
$login-waves-image: "./../../assets/images/pattern-waves.png";
$login-hero-image: "./../../assets/images/image-header-min.jpg";
