<div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #candidateTable [nzData]="listOfDisplayData" [nzPageSize]="10" nzShowSizeChanger>
            <thead>
                <tr>
                    <th nzCustomFilter>
                        Name
                        <nz-filter-trigger #dropdown [nzDropdownMenu]="nameFilter">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                        <nz-dropdown-menu #nameFilter="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input nz-input #focusInput type="text" placeholder="Search name"
                                        [(ngModel)]="searchValue" (keyup.enter)="search()">
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()"
                                        class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </th>
                    <th>DNI</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th nzCustomFilter>Status
                        <nz-filter-trigger #dropdown [nzDropdownMenu]="statusFilter">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                        <nz-dropdown-menu #statusFilter="nzDropdownMenu" nzPlacement="bottomRight">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <div>
                                        <nz-select placeholder="Search status" [(ngModel)]="searchValueStatus"
                                            class="search-select">
                                            <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}"
                                                [nzValue]="status.id">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                    <button nz-button nzSize="small" nzType="primary" (click)="searchStatus()"
                                        class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let candidate of candidateTable.data">
                    <td>{{ candidate.name }} {{ candidate.lastName }}</td>
                    <td>{{ candidate.dni }}</td>
                    <td>{{ candidate.emailAddress }}</td>
                    <td>{{ candidate.phoneNumber }}</td>
                    <td>{{ getStatus(candidate.status) }}</td>
                    <td *ngIf="candidate.id">
                        <i nz-tooltip (click)="showDetailsModal(candidate.id, detailModal)" class="icon-action" nz-icon
                            nzType="info-circle" nzTooltipTitle="Details"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-tooltip (click)="showEditModal(candidateModal, candidate.id)" class="icon-action" nz-icon
                            nzType="edit" nzTooltipTitle="Edit"></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i nz-tooltip (click)="showDeleteConfirm(candidate.id)" class="icon-action" nz-icon
                            nzType="delete" nzTooltipTitle="Delete"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #detailModal>
    <candidate-details [_detailedCandidate]="emptyCandidate"></candidate-details>
</ng-template>

<ng-template #candidateModal>
    <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'" class="recru-container">
        <div class="recru-row">
            <nz-form-item class="recru-col-2 " *ngIf="isEdit">
                <nz-form-control>
                    <nz-select *recruInput="'Status'" formControlName="status" (ngModelChange)="statusChanged()"
                        nzPlaceHolder="Select status of the stage">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="dniErrorMsg">
                    <input *recruInput="'DNI'" (keyup)="checkLength($event.target)" maxlength="8" formControlName="dni"
                        id="dni" (change)="dniChanged()" type="number" nz-input>
                    <ng-template #dniErrorMsg>
                        <ng-container *ngIf="validateForm.get('dni').dirty && validateForm.get('dni').errors">
                            <ng-container *ngIf="validateForm.get('dni').hasError('dniTooShortError')">
                                DNI is too short
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('dni').hasError('emptyInputError')">
                                DNI is empty or invalid (only numeric characters allowed)
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('dni').hasError('dniFirstDigitError')">
                                DNI shouldn't start with a 0
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="firstNameErrorMsg">
                    <input *recruInput="'First Name'" type="text" nz-input formControlName="name" id="name">
                    <ng-template #firstNameErrorMsg>
                        <ng-container *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
                            <ng-container *ngIf="validateForm.get('name')?.hasError('required')">
                                Please input a name
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('name')?.hasError('pattern')">
                                Please input only letters and spaces
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="lastNameErrorMsg">
                    <input *recruInput="'Last Name'" type="text" nz-input formControlName="lastName" id="lastName">
                    <ng-template #lastNameErrorMsg>
                        <ng-container *ngIf="validateForm.get('lastName').dirty && validateForm.get('lastName').errors">
                            <ng-container *ngIf="validateForm.get('lastName')?.hasError('required')">
                                Please input a last name
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('lastName')?.hasError('pattern')">
                                Please input only letters and spaces
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="emailErrorMsg">
                    <input *recruInput="'E-mail'" nz-input formControlName="email" id="email">
                    <ng-template #emailErrorMsg>
                        <ng-container
                            *ngIf="validateForm.get('email').dirty && validateForm.hasError('emailAndPhoneValidator')">
                            Plese enter a valid e-mail address
                        </ng-container>
                        <ng-container *ngIf="validateForm.get('email').hasError('email')">
                            Please enter a valid e-mail address
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control>
                    <input *recruInput="'LinkedIn'" nz-input formControlName="linkedin" id="linkedin">
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzValidateStatus]="validateForm.controls['phoneNumber']"
                    [nzErrorTip]="phoneNumberErrorMsg">
                    <nz-input-group *recruInput="'Phone Number'" [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" class="prefix-number">
                                <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                                <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="'phoneNumber'" type="tel" pattern="^[0-9]+$" nz-input
                            placeholder="Please input a phone number">
                    </nz-input-group>
                    <ng-template #phoneNumberErrorMsg>
                        <ng-container
                            *ngIf="validateForm.get('phoneNumber').dirty && validateForm.get('phoneNumber').errors">
                            Please input a phone number
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="recruiterErrorMsg">
                    <nz-select *recruInput="'Recruiter'" formControlName="user">
                        <nz-option *ngFor="let user of users" nzLabel="{{user.firstName}} {{user.lastName}}"
                            [nzValue]="user.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #recruiterErrorMsg>
                        <ng-container *ngIf="validateForm.get('user').dirty && validateForm.get('user').errors">
                            Please input the user
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="preferredOfficeErrorMsg">
                    <nz-select *recruInput="'Preferred Office'" formControlName="preferredOffice">
                        <nz-option *ngFor="let o of _offices" nzLabel="{{o.name}}" [nzValue]="o.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #preferredOfficeErrorMsg>
                        <ng-container
                            *ngIf="validateForm.get('preferredOffice').dirty && validateForm.get('preferredOffice').errors">
                            Please input the preferred office
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="profileErrorMsg">
                    <nz-select *recruInput="'Profile'" formControlName="profile">
                        <nz-option *ngFor="let p of profiles" nzLabel="{{p.name}}" [nzValue]="p.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #profileErrorMsg>
                        <ng-container *ngIf="validateForm.get('profile').dirty && validateForm.get('profile').errors">
                            Please input the profile
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control [nzErrorTip]="communityErrorMsg">
                    <nz-select *recruInput="'Community'" formControlName="community">
                        <nz-option *ngFor="let c of communities" nzLabel="{{c.name}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #communityErrorMsg>
                        <ng-container
                            *ngIf="validateForm.get('community').dirty && validateForm.get('community').errors">
                            Please input the community
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control>
                    <input *recruInput="'Referred By'" type="text" nz-input formControlName="referredBy"
                        id="referredBy">
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item class="recru-col-2 ">
                <nz-form-control>
                    <input *recruInput="'Known For'" type="text" nz-input formControlName="knownFrom" id="knownFrom">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item class="recru-col-2 ">
                <nz-form-control>
                    <nz-select *recruInput="'Source'" formControlName="source"
                        nzPlaceHolder="Select the source of the candidate">
                        <nz-option *ngFor="let s of sourceArray" nzLabel="{{s.name}}" [nzValue]="s.name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item>
                <nz-form-control>
                    <nz-radio-group *recruInput="'English Level'" formControlName="englishLevel">
                        <label *ngFor="let level of englishLevelList" [nzDisabled]="false" nz-radio-button
                            [nzValue]="level.id"><span>{{level.name}}</span></label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <div class="recru-custom-items-list">
                <nz-divider nzText="Skills" nzOrientation="left"></nz-divider>
                <div class="recru-custom-items-list__wrapper" *ngFor="let control of controlEditArray;let i = index">
                    <nz-form-item class="recru-custom-items-list__item">
                        <input *recruInput="'Skill'" nz-input [formControlName]="control.controlInstance[0]" readonly>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__item">
                        <nz-form-control>
                            <nz-slider *recruInput="'Level'" formControlName="{{control.controlInstance[1]}}"
                                id="{{control.controlInstance[1]}}">
                            </nz-slider>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__item">
                        <nz-form-control [nzErrorTip]="skillCommentErrorMsg">
                            <input *recruInput="'Comment'" type="text" nz-input
                                formControlName="{{control.controlInstance[2]}}">
                            <ng-template #skillCommentErrorMsg>
                                <ng-container
                                    *ngIf="validateForm.get(control.controlInstance[2]).dirty && validateForm.get(control.controlInstance[2]).errors">
                                    <ng-container
                                        *ngIf="validateForm.get(control.controlInstance[2])?.hasError('required')">
                                        Please input a comment.
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__button">
                        <a class="recru-button-center-self" (click)="removeField(control,$event, true)">
                            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
                        </a>
                    </nz-form-item>
                </div>
            </div>
        </div>

        <div class="recru-row">
            <div class="recru-custom-items-list">
                <div class="recru-custom-items-list__wrapper" *ngFor="let control of controlArray;let i = index">
                    <nz-form-item class="recru-custom-items-list__item">
                        <nz-form-control [nzErrorTip]="skillsErrorMsg">
                            <nz-select *recruInput="'Skill'" [formControlName]="control.controlInstance[0]"
                                [attr.id]="control.id" id="{{control.id}}" nzShowSearch nzPlaceHolder="Select a skill">
                                <nz-option *ngFor="let skill of skills;" nzLabel="{{skill.name}}"
                                    nzValue="{{skill.id}}">
                                </nz-option>
                            </nz-select>
                            <ng-template #skillsErrorMsg>
                                <ng-container
                                    *ngIf="getFormControl(control.controlInstance[0])?.dirty&&getFormControl(control.controlInstance[0])?.hasError('required')">
                                    Please input candidate's skill
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__item">
                        <nz-form-control>
                            <nz-slider *recruInput="'Level'" formControlName="{{control.controlInstance[1]}}"
                                id="{{control.controlInstance[1]}}">
                            </nz-slider>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__item">
                        <nz-form-control [nzErrorTip]="skillCommentErrorMsg">
                            <input *recruInput="'Comment'" type="text" nz-input
                                formControlName="{{control.controlInstance[2]}}">
                            <ng-template #skillCommentErrorMsg>
                                <ng-container
                                    *ngIf="validateForm.get(control.controlInstance[2]).dirty && validateForm.get(control.controlInstance[2]).errors">
                                    <ng-container
                                        *ngIf="validateForm.get(control.controlInstance[2])?.hasError('required')">
                                        Please input a comment.
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-custom-items-list__button">
                        <a class="recru-button-center-self" (click)="removeField(control, $event, false)">
                            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
                        </a>
                    </nz-form-item>
                </div>
                <button nz-button nzType="dashed" class="recru-button-center-self" (click)="addField($event)">
                    <i nz-icon nzType="plus"></i>
                    Add Skill
                </button>
            </div>
        </div>
    </form>
</ng-template>