.recru-button-cta{
  margin-left: 50px;
  position: absolute;
}

.pop {
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
  padding-right: 110px;
  padding-left: 10px;
}

.pop {
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.nameStyle {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #c800a1;
}

.headerDiv {
  width: 28%;
}

.headerFont {
  display: inline-block;
  font-family: ProximaNova-Extrabold;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: -0.88px;
  color: #222222;
}

.padding {
  padding: 70px 300px 0 300px;
}
.grid-padding {
  padding: 0 300px;
}

@media screen and (max-width: 1700px) and (min-width: 1535px) {
  .container {
    max-width: 95%;
  }
}

@media screen and (max-width: 1534px) and (min-width: 1280px) {
  .container {
    max-width: 99%;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1365px) and (min-width: 1280px) {
  .container {
    padding-right: 0px;
  }
}
