@import 'variables';

.csoft-login-form ::ng-deep .ng-trigger {
  padding: 5px;
  font-size: 12px;
}

.login-button {
  width: 100%;
  background-image: linear-gradient(to right, $secondary-color, $primary-color);
  border: none;
  border-radius: 0;
  color: $light-color;
  height: 2.5rem;
  cursor: pointer;
}

.login-input-container {
  margin-bottom: 1.25rem;

  ::ng-deep .recru-input-group {
    height: 2.5rem;
    
    input {
      &:focus ~ span.recru-input-label,
      &:disabled ~ span.recru-input-label,
      &:not([disabled]):not(:placeholder-shown) ~ span.recru-input-label {
        transform: scale(0.85) translateY(-160%) translateX(-0px);
        background: $light-color;
        border-radius: 5px;
      }
    }
  }
}
