@import "../../styles/abstracts/variables";

#googleBtn {
  background-image: url("/assets/images/g-200px.png");
  background-size: 60%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
  border: 1px solid $login-form-border;
  border-radius: 50%;
  cursor: pointer;
}

.google-signin {
  text-align: center;
}
