<form nz-form [formGroup]="preOfferForm" [nzLayout]="'horizontal'" class="recru-container">
    <nz-divider nzText="PRE OFFER STAGE"></nz-divider>
    <nz-form-item hidden>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>


    <div class="recru-row">
        <nz-form-item>
            <nz-form-control [nzErrorTip]="statusErrorMsg">
                <nz-select *recruInput="'Status'" formControlName="status" (ngModelChange)="statusChanged()">
                    <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                    </nz-option>
                </nz-select>
                <ng-template #statusErrorMsg>
                    <ng-container *ngIf="preOfferForm.get('status').dirty && preOfferForm.get('status').errors">
                        Please select a status
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" *ngIf="CanShowReaddressPossibility()">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Reason'" formControlName="reasonSelectControl"
                    nzPlaceHolder="Select rejection reason" (ngModelChange)="getSelectedReason($event)">
                    <nz-option *ngFor="let reason of readdressFilteredList" nzLabel="{{reason.name}}"
                        nzValue="{{reason.id}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Reason explanation'" nz-input formControlName="reasonDescriptionTextAreaControl"
                    (input)="onDescriptionChange($event.target.value)">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="dniErrorMsg">
                <input *recruInput="'DNI'" id="dni" formControlName="dni" (keyup)="checkLength($event.target)"
                    maxlength="8" type="number" nz-input>
                <ng-template #dniErrorMsg>
                    <ng-container *ngIf="preOfferForm.get('dni').dirty && preOfferForm.get('dni').errors">
                        <ng-container *ngIf="preOfferForm.get('dni').hasError('dniTooShortError')">
                            DNI is too short
                        </ng-container>
                        <ng-container *ngIf="preOfferForm.get('dni').hasError('emptyInputError')">
                            DNI is empty
                        </ng-container>
                        <ng-container *ngIf="preOfferForm.get('dni').hasError('dniFirstDigitError')">
                            DNI shouldn't be 0
                        </ng-container>
                        <ng-container *ngIf="preOfferForm.get('dni').hasError('dniExists')">
                            The Dni already exists
                        </ng-container>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="dateOfBirthErrorMsg">
                <nz-date-picker *recruInput="'Birth Date'" style="width: 100%;" formControlName="date" [nzDisabledDate]="disabledBirthDates"></nz-date-picker>
                <ng-template #dateOfBirthErrorMsg>
                    <ng-container *ngIf="preOfferForm.get('date').dirty && preOfferForm.get('date').errors">
                        Please input a date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>


    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Background Check'" formControlName="backgroundCheckDone" nzPlaceHolder="Select an option">
                    <nz-option nzLabel="Rejected" [nzValue]="false"></nz-option>
                    <nz-option nzLabel="Accepted" [nzValue]="true"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="backgroundCheckDoneDateErrorMsg">
                <nz-date-picker *recruInput="'Done Date'" style="width: 100%;"
                    formControlName="backgroundCheckDoneDate"></nz-date-picker>
                <ng-template #backgroundCheckDoneDateErrorMsg>
                    <ng-container
                        *ngIf="preOfferForm.get('backgroundCheckDoneDate').dirty && preOfferForm.get('backgroundCheckDoneDate').errors">
                        Please input a date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Medical Check'" formControlName="preocupationalDone" nzPlaceHolder="Select an option">
                    <nz-option nzLabel="Rejected" [nzValue]="false"></nz-option>
                    <nz-option nzLabel="Accepted" [nzValue]="true"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="preocupationalDoneDateErrorMsg">
                <nz-date-picker *recruInput="'Done Date'" style="width: 100%;" formControlName="preocupationalDoneDate">
                </nz-date-picker>
                <ng-template #preocupationalDoneDateErrorMsg>
                    <ng-container
                        *ngIf="preOfferForm.get('preocupationalDoneDate').dirty && preOfferForm.get('preocupationalDoneDate').errors">
                        Please input a Preocupational Done Date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" *ngIf="preOfferStage">
        <pre-offer-history [preOfferStatus]="preOfferForm.get('status').value" [_processId]=preOfferStage.processId
            keyboard="false"></pre-offer-history>
    </div>
</form>