/* Feedback textarea */
#feedbackLabel {
  width: 77px;
  /* margin-left: 11%; */
  margin-left: 120px;
}

#feedback {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 71.5%;
}

@media screen and (max-width: 1644px) {
  #feedbackLabel {
    margin-left: 100px;
  }
}
