<form nz-form [formGroup]="hrForm" [nzLayout]="'horizontal'" class="recru-container">
    <nz-form-item hidden>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>

    <div class="recru-row">
        <nz-form-item>
            <nz-form-control [nzErrorTip]="feedbackErrorMsg">
                <app-text-editor *recruInput="'Feedback'" [setContent]="feedbackContent"
                    (getContent)="getFeedbackContent($event)" [isToolbarActive]="true" [isEditable]="true">
                </app-text-editor>
                <ng-template #feedbackErrorMsg>
                    <ng-container
                        *ngIf="hrForm.get('feedback').dirty && hrForm.get('feedback').errors">
                        <ng-container *ngIf="hrForm.get('feedback')?.hasError('maxlength')">
                            The maximum length is 10000
                        </ng-container>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="statusErrorMsg">
                <nz-select *recruInput="'Status'" formControlName="status" (ngModelChange)="statusChanged()" nzPlaceHolder="Select status of the stage">
                    <nz-option *ngFor="let status of statusList | slice:1" nzLabel="{{status.name}}"
                        [nzValue]="status.id">
                    </nz-option>
                </nz-select>
                <ng-template #statusErrorMsg>
                    <ng-container *ngIf="hrForm.get('status').dirty && hrForm.get('status').errors">
                        Please select a status
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="dateErrorMsg">
                <nz-date-picker *recruInput="'Date'" style="width: 100%;" formControlName="date"></nz-date-picker>
                <ng-template #dateErrorMsg>
                    <ng-container *ngIf="hrForm.get('date').dirty && hrForm.get( 'date').errors">
                        Please input a date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" *ngIf="CanShowReaddressPossibility()">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Reason'" formControlName="reasonSelectControl" nzPlaceHolder="Select rejection reason"
                    (ngModelChange)="getSelectedReason($event)">
                    <nz-option *ngFor="let reason of readdressFilteredList" nzLabel="{{reason.name}}"
                        nzValue="{{reason.id}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Reason explanation'" nz-input formControlName="reasonDescriptionTextAreaControl" (input)="onDescriptionChange($event.target.value)">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 " *ngIf="isUserRole(['Admin', 'Recruiter'])">
            <nz-form-control>
                <input *recruInput="'Actual Salary'" type="number" nz-input formControlName="actualSalary"
                    id="actualSalary" pattern="[0-9]+([\.,][0-9]+)?">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Expected Salary'" type="number" nz-input formControlName="wantedSalary" id="wantedSalary" pattern="[0-9]+([\.,][0-9]+)?">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="interviewerErrorMsg">
                <nz-select *recruInput="'Interviewer'" formControlName="userOwnerId" nzPlaceHolder="Select the owner of the process">
                    <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}} "
                        [nzValue]="c.id">
                    </nz-option>
                </nz-select>
                <ng-template #interviewerErrorMsg>
                    <ng-container *ngIf="hrForm.get( 'userOwnerId').dirty && hrForm.get( 'userOwnerId').errors">
                        Please input the user
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Delegate'" formControlName="userDelegateId" nzPlaceHolder="Select a delegate for the process">
                    <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}}"
                        [nzValue]="c.id">
                    </nz-option>
                </nz-select>

            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item>
            <nz-form-control>
                <nz-radio-group *recruInput="'English Level'" formControlName="englishLevel">
                    <label *ngFor="let level of englishLevelList" [nzDisabled]="disabled" nz-radio-button
                        [nzValue]="level.id">
                        <span>{{level.name}}</span>
                    </label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item hidden>
            <nz-form-control>
                <label nz-checkbox name="sentEmail"></label>
            </nz-form-control>
        </nz-form-item>
    </div>
</form>