<div nz-row>
  <div nz-col nzSpan="24">
      <nz-form-item>
           <p style="text-align:center;">Processes Report <nz-switch [(ngModel)]="switchProcesses"></nz-switch> </p>                                                                          
      </nz-form-item>
      <nz-form-item>
          <p style="text-align:center;">Skills Report <nz-switch [(ngModel)]="switchSkills"></nz-switch> </p>                                                                          
     </nz-form-item>
     <nz-form-item>
           <p style="text-align:center;">Progress Processes Report <nz-switch [(ngModel)]="switchProgress"></nz-switch> </p>                                                                          
      </nz-form-item>
      <nz-form-item>
          <p style="text-align:center;">Completed Processes Report <nz-switch [(ngModel)]="switchCompleted"></nz-switch> </p>                                                                          
     </nz-form-item>
     <nz-form-item>
           <p style="text-align:center;">Hire Casualties Report <nz-switch [(ngModel)]="switchCasualties"></nz-switch> </p>                                                                          
      </nz-form-item>
      <nz-form-item>
          <p style="text-align:center;">Hire Projection Report <nz-switch [(ngModel)]="switchProjection"></nz-switch> </p>                                                                          
     </nz-form-item>
     <nz-form-item>
      <p style="text-align:center;">TimeToFill1 Report <nz-switch [(ngModel)]="switchTimeToFill1"></nz-switch> </p>                                                                          
     </nz-form-item>
     <nz-form-item>
      <p style="text-align:center;">TimeToFill2 Report <nz-switch [(ngModel)]="switchTimeToFill2"></nz-switch> </p>                                                                          
     </nz-form-item>
  </div>
</div>      