<nz-list>    
       <nz-list-item>
         <span class="ant-typography"> Processes Report <nz-switch [(ngModel)]="switchProcesses"></nz-switch> </span>        
       </nz-list-item>     
       <nz-list-item>
          <span class="ant-typography"> Skills Report <nz-switch [(ngModel)]="switchSkills"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> Progress Processes Report <nz-switch [(ngModel)]="switchProgress"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> Completed Processes Report <nz-switch [(ngModel)]="switchCompleted"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> Hire Casualties Report <nz-switch [(ngModel)]="switchCasualties"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> Hire Projection Report <nz-switch [(ngModel)]="switchProjection"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> TimeToFill1 Report <nz-switch [(ngModel)]="switchTimeToFill1"></nz-switch> </span>        
        </nz-list-item>
        <nz-list-item>
          <span class="ant-typography"> TimeToFill2 Report <nz-switch [(ngModel)]="switchTimeToFill2"></nz-switch> </span>        
        </nz-list-item>
</nz-list>