.pop {
    height: 50px;
    width: 40%;
    margin-left: 20px;
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

nz-step {
    cursor: pointer;
}


.padding-info{
    padding: 0px 213px 0px 213px;
}


.alert-info {
    text-align: center;
    right: 55px;
}

.number {
    position: absolute;    
    background-color:red;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
    color: white;
    text-align: -webkit-center;    
}

.noti{
    font-weight: 400;
}

.proximanova-r{
    font-family: "ProximaNova-Regular";
}