.pop {
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-step {
  cursor: pointer;
}

.padding-info {
  padding: 0px 213px 0px 213px;
}

.alert-info {
  text-align: center;
  right: 55px;
}

.number {
  position: absolute;
  background-color: red;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: white;
  text-align: -webkit-center;
}

.referralsTabset {
  & ::ng-deep .ant-tabs-nav .ant-tabs-tab-inactive {
    color: #c4c4c4;
  }

  & ::ng-deep .ant-tabs-nav .ant-tabs-tab:hover {
    color: #c800a1;
  }

  & ::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
    color: black;
    font-family: ProximaNova-Bold;
  }
}

.headerFont {
    display: inline-block;
    font-family: ProximaNova-Extrabold;
    font-size: 44px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.02;
    letter-spacing: -0.88px;
    color: #222222;
  }

  ::ng-deep .ant-btn.referralsButton {
    width: 215px;
    height: 40px;
    background-image: linear-gradient(to top, #f4633a, #c800a1);
    border: none;  
    font-size: 20px;
    font-family: ProximaNova-SemiBold;
    line-height: normal;
    letter-spacing: -0.67px;
    color: #ffffff;
  }

  .jobDescription{
    border-style: double;    
  }