.search-box {
    padding: 8px;
}

.search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.search-box button {
    width: 90px;
}

.search-button {
    margin-right: 8px;
}

.pop {
    height: 50px;
    width: 40%;
    margin-left: 20px;
    border: 1px solid saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

nz-step {
    cursor: pointer;
}
.padding{
    padding: 60px 213px 20px 213px;

}

.padding-info{
    padding: 0px 213px 0px 213px;
}


.alert-info {
    text-align: center;
}

.number {
    position: relative;
    right: -1032px;
    top: -35px;
    background-color:red;
    line-height:20px;
    width:20px;
    height:20px;
    border-radius:10px;
    color: white;
    text-align: -webkit-center;
}

.noti{
    font-weight: 400;
}


