@import '~ngx-toastr/toastr.css';
/* You can add global styles to this file, and also import other style files */
@import url("assets/fonts/proximaNova.css");

.loginForm{
    display: flex;
    flex-direction: column;
}

#toast-container > div {
  opacity: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #007bff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Unfocus close cross in modals */

button.ant-modal-close.ng-star-inserted {
  outline: none;
}

button > i {
  vertical-align: unset !important;
}

.ant-col-12 {
  width: 45%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

nz-form-label.requiredFieldLabel::before {
  content: "* ";
}

#interviewTable .ant-table-header {
  margin-bottom: -20px !important;
  padding-bottom: 20px !important;
  overflow: auto;
}

@media screen and (max-width : 779px) {

}

@media only screen and (min-device-width : 780px) and (max-device-width : 1280px) {

}

@media only screen and (min-width : 1281px) and (max-device-width : 1600px) {

}

@media only screen and (min-width : 1601px) and (max-device-width : 1920px) {

}

@media only screen and (min-width : 1921px) {

}
