
<header>
    <nav class="main-nav">
        <div class="main-nav__input">
            <i nz-icon nzType="search" nzTheme="outline" style="font-size: 30px;"></i>
            <input placeholder="Search..." (input)="onSearchChange($event.target.value)">
        </div>
        <div class="avatar" (click)="changeUserSettings()">
            <div class="user-info">
                {{currentUser.Name}}
                <nz-avatar [nzSize]="40" nzIcon="user" nzSrc="{{currentUser.ImgURL}}"></nz-avatar>
            </div>
            <div *ngIf="showUserSettings">
                <nz-card nzTitle="{{currentUser.Name}}" [nzExtra]="closeModal" [nzBodyStyle]="{'padding': '0'}">
                    <nz-list>
                        <nz-list-item>
                            {{currentUser.Email}}
                        </nz-list-item>
                        <nz-list-item (click)="showPreferencesModal(preferencesModal)" >
                            Manage Preferences
                            <i nz-icon nzType="setting" nzTheme="outline"></i>
                        </nz-list-item>
                        <nz-list-item (click)="logout()">
                            Logout
                            <i nz-icon nzType="logout" nzTheme="outline"></i>
                        </nz-list-item>
                    </nz-list>
                </nz-card>
            </div>
        </div>
    </nav>
</header>

<ng-template #closeModal>
    <i nz-icon nzType="close" nzTheme="outline"></i>
</ng-template>

<ng-template #preferencesModal>
    <app-preferences></app-preferences>
</ng-template>