@import "variables";

.tasks {
  &__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__main-button {
    display: flex;
    flex: 4 4;
  }

  &__switch {
    display: flex;
    flex: 1 1;
    justify-content: center;

    .title {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
      color: $dark-color;
      line-height: 34px;
    }

    nz-switch {
      line-height: 32px;
    }
  }

  &__orderby {
    display: flex;
    flex: 1 1;
    justify-content: center;

    .orderby__button {
      border-radius: 4px;
      background: white;
      box-shadow: 0 0 5px -2px #222222;
      padding: 2px 12px;
      color: #222222;
      height: 34px;
      line-height: 30px;

      span {
        margin-right: 16px;
        color: #cecece;
      }
    }
  }

  &__filter {
    flex: 2 2;
  }

  &__wrapper {
    background-color: #fafafa;
    padding: 30px;
  }

  &__header {
    background-color: #fafafa;
    margin-bottom: 22px;
  }
}

.card-style {
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #f2f2f2;
  background-color: $light-color;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
}

label {
  display: flex;
}

.card-item {
  display: inline-flex;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
}

.card-item i {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 13px;
  color: $light-color;
  background-image: $carnival-gradient;
  border: 1px solid $light-color;
  margin-left: 5px;
  display: none;
  cursor: pointer;
}

.card-item i:hover {
  display: block;
}

.add-item {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.plus {
  position: relative;
  top: -3px;
  padding-right: 5px;
  font-size: 11px;
}

.input {
  font-size: 16px;
  font-size: 16px;
  padding: 2.5px 10px;
}

.input-button {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 7px 64px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #5c068c;
  background-color: #5c068c;
}

::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
  background-color: $west-side !important;
  border-color: $west-side !important;
}

.task-boxes {
  width: 23%;
  margin: 0px 8px;
}

@media screen and (max-width: 1630px) and (min-width: 1370px) {

  .task-boxes {
    width: 31%;
  }
}
@media screen and (max-width: 1369px) and (min-width: 1283px) {
  .task-boxes {
    width: 35%;
  }
}

@media screen and (max-width: 1281px) and (min-width: 1200px) {
  .task-boxes {
    width: 45%;
  }
}

.font-size-large {
  font-size: x-large;
}

.icon-float {
  display: none;
  float: right;
}

.span-decoration {
  text-decoration: line-through;
  color: grey;
}

.dates-template {
  margin-left: 15%;
}

.danger {
  color: red;
}

.success {
  color: green;
}

.primary {
  color: blue;
}

.select-user {
  display: flex;
  column-gap: 8px;

  button {
    order: 2;
  }
}
