<div >
  <nz-card nzTitle="Average: Interview date - Hire Date" [nzHoverable]="true">
    <div style="display: block">
      <div nz-row>
        <div nz-col nzSpan="22" style="text-align: center;">
            <nz-button-group [nzSize]="'default'">
                <button nz-button nzType="default" (click)="previousMonth()"><i nz-icon type="left"></i></button>
                <nz-month-picker [(ngModel)]="month" (ngModelChange)="getProjectionReport()" nzPlaceHolder="Select a month" >
                  </nz-month-picker>
                <button nz-button nzType="default" (click)="nextMonth()"><i nz-icon type="right"></i></button>
              </nz-button-group>                
        </div>
      </div>
      <br/>
      <br/>
      <div nz-row>
          <div nz-col nzSpan="22" *ngIf="hasProjections">
              <canvas baseChart              
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [plugins]="chartPlugins"
              [legend]="chartLegend"
              [chartType]="chartType"
              [colors]="chartColors">
            </canvas>
          </div>
          <div nz-col nzSpan="22" *ngIf="!hasProjections" style="text-align: center;">
              <span><strong>THERE ARE NO PROJECTIONS FOR THE SELECTED MONTH</strong></span>
          </div>
        </div>          
    </div>
  </nz-card>
</div>