<div nz-row>
  <div nz-col nzSpan="24">
    <button nz-button (click)="addOffer(editModal)" [disabled]="!allowAddOffer">Add offer</button>
  </div>
  <div nz-col nzSpan="24" *ngIf="!allowAddOffer">
    <p>You can't add an offer if the last one is pending or accepted</p>
  </div>
</div>
<br>
<nz-table nzBordered nzShowSizeChanger>  
  <thead>
      <tr>
          <th>Date</th>
          <th>Offer</th>
          <th>Status</th>
          <th>Rejection reason</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let offer of ofertas">
      <td scope="row"> 
        {{ offer.offerDate | date: 'dd/MM/yyyy' }}
      </td>
      <td scope="row"> 
        {{ offer.salary }}
      </td>
      <td scope="row"> 
        {{ getStatus(offer.status) }}
      </td>
      <td scope="row">         
        <input type="text" nz-input id="rejectionReason" [disabled]="offer.status != 'Declined'" [readonly]="offer.status != 'Declined'" placeholder="Please input the rejection reason" pattern="[0-9]+([\.,][0-9]+)?">        
      </td>
      <td [style.text-align]="center">        
        <i nzTitle="Decline" (click)="editStatus('Declined', offer.id)" style="cursor: pointer;" nz-tooltip nz-icon type="stop" theme="outline"></i>
          <nz-divider nzType="vertical"></nz-divider>
        <i nzTitle="Accept" (click)="editStatus('Accepted', offer.id)" style="cursor: pointer;" nz-tooltip nz-icon type="check" theme="outline"></i>
          <nz-divider nzType="vertical"></nz-divider>
        <i nzTitle="Delete" (click)="showDeleteConfirm(offer.id)" style="cursor: pointer;" nz-tooltip nz-icon type="delete" theme="outline"></i>        
      </td>
    </tr>
  </tbody>
</nz-table>
<button nz-button nzType="primary" (click)="doSomething()">Printear</button>
<button nz-button nzType="primary" (click)="doSomething2()">Agregar offer al service</button>

<ng-template #editModal>
  <form nz-form [formGroup]="editForm" [nzLayout]="'horizontal'">
      <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="offerDate">Offer Date</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-date-picker style="width: 100%;" formControlName="offerDate"></nz-date-picker>
                  <nz-form-explain *ngIf="editForm.get('offerDate').dirty && editForm.get('offerDate').errors">
                      Please input a offer date
                  </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
      </div>
      <div nz-row>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salaryOffer">Salary offer</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="number" nz-input formControlName="salaryOffer" id="salaryOffer" placeholder="Please input the salary offer" pattern="[0-9]+([\.,][0-9]+)?">
                    <nz-form-explain *ngIf="editForm.get('salaryOffer').dirty && editForm.get('salaryOffer').errors">
                        Please input the salary offer
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
          </div>
      </div>
  </form>
</ng-template>