.nameStyle {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #c800a1;
}

.tableHead {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

@media screen and (max-width: 1400px) and (min-width: 1280px) {
  th.tableHead {
    padding-right: 4px;
    padding-left: 6px;
  }
}

.clearFilters {
  margin-bottom: 1rem;
}
