<form nz-form [formGroup]="loginForm" class="csoft-login-form" (ngSubmit)="submitForm()">

  <nz-form-item class="login-input-container">
    <nz-form-control>
      <label class="login-input-group">
        <input required nz-input nzSize="large" type="text" formControlName="userName" />
        <span>Username</span>
      </label>
      <nz-form-explain *ngIf="checkDirtyandErrors('userName')">Please input your username</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="login-input-container">
    <nz-form-control>
      <label class="login-input-group">
        <input required nz-input nzSize="large" type="password" formControlName="password" />
        <span>Password</span>
      </label>
      <nz-form-explain *ngIf="checkDirtyandErrors('password')">Please input your password</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="login-input-container">
    <nz-form-control>
      <button nz-button nzType="primary" class="login-button">LOG IN</button>
    </nz-form-control>
  </nz-form-item>

</form>

<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>