<form nz-form [formGroup]="loginForm" class="csoft-login-form" (ngSubmit)="submitForm()">

  <nz-form-item class="login-input-container">
    <nz-form-control [nzErrorTip]="usernameErrorMsg">
      <label class="login-input-group">
        <input required nz-input nzSize="large" type="text" formControlName="userName" maxlength="64"/>
        <span>Username</span>
      </label>
      <ng-template #usernameErrorMsg>
        <ng-container *ngIf="checkDirtyandErrors('userName')">
          Please input your username!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="login-input-container">
    <nz-form-control [nzErrorTip]="passwordErrorMsg">
      <label class="login-input-group">
        <input required nz-input nzSize="large" type="password" formControlName="password" maxlength="64" />
        <span>Password</span>
      </label>
      <ng-template #passwordErrorMsg>
        <ng-container *ngIf="checkDirtyandErrors('password')">
          Please input your Password!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="login-input-container">
    <nz-form-control>
      <button nz-button nzType="primary" class="login-button">LOG IN</button>
    </nz-form-control>
  </nz-form-item>

</form>

<ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>