#googleBtn {
    display: inline-block;
    background: white;
    width: 60%;
    border: 3px solid #C800A1;
    white-space: nowrap;
  }
  #googleBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('./../../assets/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-right: 31px;
    font-size: 14px;
    font-weight: bold;
    color: #C800A1;
    
    font-family: 'Roboto', sans-serif;
  }