.login-container {
  background-image: url("./../../assets/images/image-header-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
}

.login-form {
  height: 100%;
}

.login-form-title {
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form-title {
  max-width: 50%;
}

  .login-form-title > h1 {
    margin: 0;
    font-size: 5vh;
    color: white;
  }

.login-intro-container {
  max-width: 50%;
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  background-image: url("./../../assets/images/pattern-waves.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-intro {
  min-height: 50%;
  min-width: 50%;
}


.login-form-container {
  max-width: 50%;
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

.login-form-title {
  text-align: center;
  min-width: 100%;
  height: 20%;
  color: white;
  font-size: 2vw;
}

.login-form-inputs {
  height: 80%;
}

.login-intro-title {
  color: white;
  font-weight: 900;
  font-size: 2vw;
}

.login-intro-subtitle {
  color: white;
  font-weight: 300;
  font-size: 2vw;
}

.login-intro-separator {
  height: 10%;
}

  .login-intro-separator > img {
    min-width: 100%;
    height: 5%;
  }

.login-intro-title {
  text-align: center;
}

.login-intro-subtitle {
  text-align: center;
}

.login-background-image {
  background-image: url('./../../assets/images/pattern-waves.png');
}

.recru-logo {
  max-width: 100%;
}

.container-fluid {
  height: 100%;
}

@media screen and (max-width: 700px) {

  .login-container {
    flex-direction: column;
    height: 150vh;
  }

  .ant-form-item-control {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }

  .ant-form-item-control {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }

  .login-intro-container {
    min-width: 100%;
  }

  .login-form-container {
    min-width: 100%;
  }

  .login-intro-title {
    font-size: 5vh;
  }

  .login-intro-subtitle {
    font-size: 5vh;
  }
}


@media screen and (max-width: 1920px) and (min-width: 1801px) {
}

@media screen and (max-width: 1800px) and (min-width: 1381px) {
}

@media screen and (max-width: 1380px) and (min-width: 1290px) {
}

@media screen and (max-width: 1289px) and (min-width: 1024px) {
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
}
