<div class="section-container">

  <div class="login-hero">
    <div class="login-hero__inner">
      <div class="login-hero__waves"></div>
      <div class="hero-text">
        <h1 class="hero-text__title">
          EMPOWERING OUR BEST TALENT.
        </h1>
        <p class="hero-text__subtitle">The Cognizant Softvision app for users</p>
      </div>
    </div>
  </div>


  <div class="main-container">
    <div class="login-container">

      <div class="intro-item">
        <div class="intro">
          <div class="image">
            <img class="recru-logo-black" src="../../assets/images/recru-logo-black.png">
            <!-- <img class="recru-logo" src="../../assets/images/recru-logo.png"> -->
          </div>
          <div class="header-text">
            <h3 class="header-text__title">
              EMPOWERING OUR BEST TALENT.
            </h3>
            <p class="header-text__subtitle">The Cognizant Softvision app for users</p>
          </div>
        </div>
      </div>

      <div class="form-item">
        <div class="form">
          <h1 class="form-title">Log In</h1>
          <div class="login-inputs">
            <csoft-login></csoft-login>
          </div>
          <div class="divider">
            <nz-divider nzText="OR"></nz-divider>
          </div>
          <div class="google-login">
            <google-signin></google-signin>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>