.background {
  background-image: linear-gradient(
      to left,
      rgba(200, 0, 161, 0.85),
      rgba(244, 99, 58, 0.85)
    ),
    url("./../../assets/images/oakland-careers-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}
.welcome {
    margin: 0 0 0px 60px;

}

.title {
  color: white;
  font-weight: 900;
  font-size: 70px;
}

.subtitle {
    color: white;
    font-weight: 300;
    font-size: 24px;
}
.loginForm {
  background-color: #e4dfdf54;
  height: 100%;

}
.logo {
  width: 88%;
}
.recru-container {
  width: 23%;
}
.recru {
  font-size: 75px;
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
}
