<div nz-row>
    <div nz-col nzSpan="24">
      <nz-table #processTable [nzData]="listOfDisplayData" [nzPageSize]="20" nzShowSizeChanger>
        <thead class="tableHead">
          <tr>
            <th class="tableHead noFilter">
              Candidate
            </th>
            <th class="tableHead">
              Profile
              <nz-dropdown [nzPlacement]="'bottomCenter'" class="filterButton">
                <button nz-button nz-dropdown class="filterIcon"><i class="fa">&#xf0b0;</i></button>
                <ul nz-menu class="filterList">
                  <li nz-menu-item (click)="emitProfileId(0)">
                    <label>ALL</label>
                  </li>
                  <li nz-menu-item *ngFor="let profile of profiles" #profileId (click)="emitProfileId(profile.id)">
                    <label>{{profile.name}}</label>
                  </li>
                </ul>
              </nz-dropdown>
            </th>
            <th class="tableHead">
              Community
              <nz-dropdown [nzPlacement]="'bottomCenter'" class="filterButton">
                <button nz-button nz-dropdown class="filterIcon"><i class="fa">&#xf0b0;</i></button>
                <ul nz-menu class="filterList">
                  <li nz-menu-item (click)="emitCommunityId(0)">
                    <label>ALL</label>
                  </li>
                  <li nz-menu-item *ngFor="let community of communities" (click)="emitCommunityId(community.id)">
                    <label>{{community.name}}</label>
                  </li>
                </ul>
              </nz-dropdown>
            </th>
            <th class="tableHead">
              Status
              <nz-dropdown [nzPlacement]="'bottomCenter'" class="filterButton">
                <button nz-button nz-dropdown class="filterIcon"><i class="fa">&#xf0b0;</i></button>
                <ul nz-menu class="filterList">
                  <li nz-menu-item (click)="emitResetStatus()">
                    <label>ALL</label>
                  </li>
                  <li nz-menu-item *ngFor="let status of statusList" (click)="emitStatus(status.id)">
                    <label>{{status.name}}</label>
                  </li>
                </ul>
              </nz-dropdown>
            </th>
            <th class="tableHead">
              Current Stage
              <nz-dropdown [nzPlacement]="'bottomCenter'" class="filterButton">
                <button nz-button nz-dropdown class="filterIcon"><i class="fa">&#xf0b0;</i></button>
                <ul nz-menu class="filterList">
                  <li nz-menu-item (click)="emitResetCurrentStage()">
                    <label>ALL</label>
                  </li>
                  <li nz-menu-item *ngFor="let cs of currentStageList" (click)="emitCurrentStageValue(cs.id)">
                    <label>{{cs.name}}</label>
                  </li>
                </ul>
              </nz-dropdown>
            </th>
            <th class="tableHead noFilter">
              Recruiter
            </th>
            <th class="tableHead noFilter">Actions</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let process of processTable.data">
            <td scope="row">
              <a *ngIf="process.candidate" class="nameStyle" (click)="emitCandidateId(process.candidate.id)">
                {{ process.candidate.name }} {{ process.candidate.lastName }}
              </a>
            </td>
            <td scope="row">
              {{ process.candidate.profile.name }}
            </td>
            <td scope="row">
              {{ process.candidate.community.name }}
            </td>
            <td scope="row">
              <nz-badge style="margin-right: 3%; margin-top: -2%;"></nz-badge>
              {{ getStatus(process.status) }}
            </td>
            <td scope="row">
              <nz-badge style="margin-right: 3%; margin-top: -2%;"></nz-badge>
              {{ getCurrentStage(process.currentStage) }}
            </td>
            <td scope="row">
              <a *ngIf="process.candidate.user" class="nameStyle" (click)="emitUserId(process.candidate.user.id)">
                {{ process.candidate.user.firstName }}
                {{ process.candidate.user.lastName }}
              </a>
            </td>
            <td [style.text-align]="center">
              <i nzTitle="Edit" (click)="emitEdit(process.id)" style="cursor: pointer;" nz-tooltip nz-icon type="edit"
                theme="outline"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i nzTitle="Delete" (click)="emitDelete(process.id)" style="cursor: pointer;" nz-tooltip nz-icon
                type="delete" theme="outline"></i>
              <nz-divider nzType="vertical" *ngIf="process && (process.status != 2 && process.status != 3  )">
              </nz-divider>
              <i nzTitle="Approve Process" style="cursor: pointer;" nz-tooltip
                *ngIf="process && (process.status != 2 && process.status != 3  )" nz-icon nzType="check-circle"
                nzTheme="outline" (click)="emitApproval(process.id)"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i nzTitle="Reject process" nzPlacement="topLeft" nz-tooltip style="cursor: pointer;"
                *ngIf="process && process.status != 4" nz-icon nzType="close" nzTheme="outline"
                (click)="emitReject(process.id)"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>