@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url("proximaNova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-Bold;
  font-weight: bold;
  src: url("ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  
}

@font-face {
  font-family: ProximaNova-BoldIt;
  font-weight: bold;
  src: url("ProximaNova/ProximaNova-BoldIt.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-Light;
  font-weight: lighter;
  src: url("ProximaNova/ProximaNova-Light.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-LightIt;
  font-weight: lighter;
  src: url("ProximaNova/ProximaNova-LightIt.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-Regular;
  font-weight: normal;
  src: url("ProximaNova/ProximaNova-Regular.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-RegularIt;
  font-weight: normal;
  src: url("ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-Extrabold;
  font-weight: 900;
  src: url("proximaNova/ProximaNova-Extrabold.otf") format("opentype");
}

@font-face {
  font-family: ProximaNova-Semibold;
  font-weight: 600;
  src: url("ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
}
