@import "variables";

.pop {
  height: 50px;
  width: 40%;
  margin-left: 20px;
  border: 1px solid saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

nz-step {
  cursor: pointer;
}

.padding-info {
  padding: 0px 213px 0px 213px;
}

.alert-info {
  text-align: center;
  right: 55px;
}

.number {
  position: absolute;
  background-color: red;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: $light-color;
  text-align: -webkit-center;
}

.referralsTabset {
  & ::ng-deep .ant-tabs-nav .ant-tabs-tab-inactive {
    color: #c4c4c4;
  }

  & ::ng-deep .ant-tabs-nav .ant-tabs-tab:hover {
    color: #c800a1;
  }

  & ::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
    color: black;
    font-family: ProximaNova-Bold;
  }
}

.headerFont {
  display: inline-block;
  font-family: ProximaNova-Extrabold;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: -0.88px;
  color: #222222;
}

.headerTittle {
  font-family: ProximaNova-Extrabold;
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  color: #222222;
}

.headerStudio {
  font-family: ProximaNova-Extrabold;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: -0.88px;
  color: #222222;
}

.headers h1 {
  margin-bottom: 0;
}

.headers h3 {
  margin-top: 0;
}

.recru-button-primary,
.recru-button-secondary {
  width: calc(30% + 2rem);
}

.slide-card {
  ::ng-deep .slick-list {
    border-radius: 4px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 6px;
  }

  ::ng-deep .slick-slide {
    padding: 16px;
  }

  &__content {
    padding: 8px;
  }
}

::ng-deep .job-description-modal {
  .ant-modal-body {
    background-color: $light-soft-background-color;
  }
}
