<nz-list nzBordered nzSize="large" *ngIf="detailedCandidate">
    <nz-list-item><strong style="margin-right: 1%">Recruiter:</strong> {{ userName }}</nz-list-item>
    <nz-list-item><strong style="margin-right: 1%">Profile:</strong> {{ profileName }}</nz-list-item>
    <nz-list-item><strong style="margin-right: 1%">Community:</strong> {{ communityName }}</nz-list-item>
    <nz-list-item><strong style="margin-right: 1%">Seniority:</strong> {{ seniorityName }}</nz-list-item>
    <nz-list-item><strong style="margin-right: 2%">Status:</strong>
        <button nz-button>{{ getCandidateStatus() }}</button>
    </nz-list-item>
    <nz-list-item><strong style="margin-right: 1%">Email:</strong> {{ detailedCandidate.emailAddress }}
        <div style="margin-left: 1%; margin-bottom: 1%;" *ngIf="detailedCandidate.linkedInProfile">
            <nz-divider nzType="vertical" style="margin-top: 20%;"></nz-divider>
            <a href="{{ detailedCandidate.linkedInProfile }}"><i nz-icon type="linkedin" theme="fill"></i></a>
        </div>
    </nz-list-item>
    <nz-list-item><strong style="margin-right: 1%">Phone:</strong> {{ detailedCandidate.phoneNumber }}</nz-list-item>    
</nz-list>
