<form nz-form [formGroup]="offerForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="OFFER STAGE"></nz-divider>
    <br />
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('status')}">
                    Status
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('status').dirty && offerForm.get('status').errors">Please
                        select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="date" [ngClass]="{'requiredFieldLabel': isRequiredField('date')}">
                    Date
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('date').dirty && offerForm.get('date').errors">
                        Please input a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('userOwnerId')}">
                    Responsible
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="userOwnerId" nzPlaceHolder="Select the owner of the process">
                        <nz-option *ngFor="let c of users" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('userOwnerId').dirty && offerForm.get('userOwnerId').errors">Please input the user</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="userDelegateId" [ngClass]="{'requiredFieldLabel': isRequiredField('userDelegateId')}">
                    Delegate
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="userDelegateId" nzPlaceHolder="Select a delegate for the process">
                        <nz-option *ngFor="let c of users" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>

                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="seniority" [ngClass]="{'requiredFieldLabel': isRequiredField('seniority')}">
                    Seniority
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select #seniority formControlName="seniority"
                        (ngModelChange)="updateSeniority(seniority.value)">
                        <nz-option *ngFor="let seniority of seniorityList" nzLabel="{{seniority.name}}"
                            [nzValue]="seniority.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('seniority').dirty && offerForm.get('seniority').errors">
                        Please select a seniority</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6" nzOffset="6">
            <button nz-button [disabled]="offerForm.get('status').value !== 1" nzType="primary"
                (click)="showOfferHistoryModal(historyOfferModal)" nzShape="square">History offers</button>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="hireDate" [ngClass]="{'requiredFieldLabel': isRequiredField('hireDate')}">
                    Hire Date
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="hireDate"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('hireDate').dirty && offerForm.get('hireDate').errors">
                        Please input a hire date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="feedback" [ngClass]="{'requiredFieldLabel': isRequiredField('feedback')}">
                    Feedback
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="feedback" nz-input formControlName="feedback"
                        placeholder="Input any additional information if necessary" id="feedback"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d"
                    *ngIf="offerForm.get('feedback').dirty && offerForm.get('feedback').errors">
                    <ng-container *ngIf="offerForm.get('feedback')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="offerForm.get('feedback')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="remunerationOffer">Final Gross Remuneration *</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" nz-input formControlName="remunerationOffer" id="remunerationOffer" placeholder="Please input the final gross remuneration offer" pattern="[0-9]+([\.,][0-9]+)?">
        </nz-form-control>
        <nz-form-explain *ngIf="offerForm.get('remunerationOffer').dirty && offerForm.get('remunerationOffer').errors">
          Please input a final gross remuneration offer
        </nz-form-explain>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="vacationDays">Vacation days *</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" nz-input formControlName="vacationDays" id="vacationDays" placeholder="Please input the vacation days" pattern="[0-9]+([\.,][0-9]+)?">
        </nz-form-control>
        <nz-form-explain *ngIf="offerForm.get('vacationDays').dirty && offerForm.get('vacationDays').errors">
          Please input vacations days
        </nz-form-explain>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="firstday">First Day</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-date-picker style="width: 100%;" formControlName="firstday"></nz-date-picker>
          <nz-form-explain *ngIf="offerForm.get('firstday').dirty && offerForm.get('firstday').errors">
            Please input a first day
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="bonus">Bonus</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="bonus" nz-input formControlName="bonus"
                              placeholder="Input any additional information if necessary" id="bonus"></textarea>
        </nz-form-control>
        <nz-form-explain style="color: #f5222d"
                         *ngIf="offerForm.get('bonus').dirty && offerForm.get('bonus').errors">
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('trimBeginError')">
            The input has leading whitespace!
          </ng-container>
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('trimEndError')">
            The input has trailing whitespace!
          </ng-container>
        </nz-form-explain>
      </nz-form-item>
    </div>




  </div>
    <div nz-row>
        <div nz-col nzSpan="8" nzOffset="4">
            <nz-form-item>
                <nz-form-control [nzSm]="12" [nzXs]="24">
                    <label nz-checkbox [nzDisabled]="!backCheckEnabled" (change)="toggleBackgroundCheck()"
                        (click)="toggleBackgroundCheck()" formControlName="backgroundCheckDone"
                        nzFor="backgroundCheckDone">Background Check</label>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="offerDate" [ngClass]="{'requiredFieldLabel': isRequiredField('backgroundCheckDoneDate')}">
                    Done Date
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="backgroundCheckDoneDate"></nz-date-picker>
                    <nz-form-explain
                        *ngIf="offerForm.get('backgroundCheckDoneDate').dirty && offerForm.get('backgroundCheckDoneDate').errors">
                        Please input a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="8" nzOffset="4">
            <nz-form-item>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <label nz-checkbox [nzDisabled]="!preocupationalCheckEnabled" (click)="togglePreocupationalCheck()"
                        (change)="togglePreocupationalCheck()" formControlName="preocupationalDone"
                        nzFor="preocupationalDone">Pre-Ocupational Check</label>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="preocupationalDoneDate" [ngClass]="{'requiredFieldLabel': isRequiredField('preocupationalDoneDate')}">
                Done Date
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-date-picker style="width: 100%;" formControlName="preocupationalDoneDate"></nz-date-picker>
                <nz-form-explain
                    *ngIf="offerForm.get('preocupationalDoneDate').dirty && offerForm.get('preocupationalDoneDate').errors">
                    Please input a date
                </nz-form-explain>
            </nz-form-control>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="rejectionReason" [ngClass]="{'requiredFieldLabel': isRequiredField('rejectionReason')}">
                    Rejection Reason
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason"
                        placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d "
                    *ngIf="showRejectionReason() && offerForm.get('rejectionReason').dirty && offerForm.get('rejectionReason').errors ">
                    <ng-container
                        *ngIf="offerForm.get('rejectionReason')?.dirty && offerForm.get('rejectionReason')?.errors ">
                        Please input rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
</form>

<ng-template #historyOfferModal>
    <offer-history [_processId]=offerStage.processId (backdrop)="static" keyboard="false"></offer-history>
</ng-template>
