<form nz-form [formGroup]="offerForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="OFFER STAGE"></nz-divider>
    <br />
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('status')}">
                    Status
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('status').dirty && offerForm.get('status').errors">Please
                        select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row [ngStyle]="{'display': 'none'}">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('userOwnerId')}">
                    Responsible
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="userOwnerId" nzPlaceHolder="Select the owner of the process">
                        <nz-option *ngFor="let c of users" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="offerForm.get('userOwnerId').dirty && offerForm.get('userOwnerId').errors">Please input a user</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="userDelegateId" [ngClass]="{'requiredFieldLabel': isRequiredField('userDelegateId')}">
                    Delegate
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="userDelegateId" nzPlaceHolder="Select a delegate for the process">
                        <nz-option *ngFor="let c of users" nzLabel="{{c.name}} {{c.lastName}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>

                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="hireDate" [ngClass]="{'requiredFieldLabel': isRequiredField('hireDate')}">
                    Hire Date
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="hireDate"></nz-date-picker>
                    <nz-form-explain *ngIf="offerForm.get('hireDate').dirty && offerForm.get('hireDate').errors">
                        Please input a hire date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="bonus">Bonus</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="bonus" nz-input formControlName="bonus"
                              placeholder="Input any additional information if necessary" id="bonus"></textarea>
        </nz-form-control>
        <nz-form-explain style="color: #f5222d"
                         *ngIf="offerForm.get('bonus').dirty && offerForm.get('bonus').errors">
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('trimBeginError')">
            The input has leading whitespace!
          </ng-container>
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('bonus')">
            The input has trailing whitespace!
          </ng-container>
        </nz-form-explain>
      </nz-form-item>
    </div>
    </div>
  <div nz-row>
    <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="remunerationOffer" [ngClass]="{'requiredFieldLabel': isRequiredField('remunerationOffer')}" >Final Gross Salary</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <input type="number" nz-input formControlName="remunerationOffer" id="remunerationOffer" placeholder="Please input the final gross remuneration offer" pattern="[0-9]+([\.,][0-9]+)?">
          </nz-form-control>
          <nz-form-explain *ngIf="offerForm.get('remunerationOffer').dirty && offerForm.get('remunerationOffer').errors">
            Please input a final gross remuneration offer
          </nz-form-explain>
        </nz-form-item>
      </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="vacationDays">Vacation days *</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="number" nz-input formControlName="vacationDays" id="vacationDays" placeholder="Please input the vacation days" pattern="[0-9]+([\.,][0-9]+)?">
        </nz-form-control>
        <nz-form-explain style="color: #f5222d"
                         *ngIf="offerForm.get('bonus').dirty && offerForm.get('bonus').errors">
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('trimBeginError')">
            The input has leading whitespace!
          </ng-container>
          <ng-container *ngIf="offerForm.get('bonus')?.hasError('trimEndError')">
            The input has trailing whitespace!
          </ng-container>
        </nz-form-explain>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="healthInsurance" [ngClass]="{'requiredFieldLabel': isRequiredField('healthInsurance')}" >
                Health insurance
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select formControlName="healthInsurance">
                    <nz-option *ngFor="let insurance of healthInsuranceList" nzLabel="{{insurance.name}}" [nzValue]="insurance.id">
                    </nz-option>
                </nz-select>            
                <nz-form-explain *ngIf="offerForm.get('healthInsurance').dirty && offerForm.get('healthInsurance').errors">
                Please input the health insurance
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="notes" [ngClass]="{'requiredFieldLabel': isRequiredField('notes')}" >
                Notes
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <input type="text" nz-input formControlName="notes" id="notes" placeholder="Please input the notes">
            </nz-form-control>                
        </nz-form-item>
    </div>
</div>
    <div nz-row>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="rejectionReason" [ngClass]="{'requiredFieldLabel': isRequiredField('rejectionReason')}">
                    Rejection Reason
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason"
                        placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d "
                    *ngIf="showRejectionReason() && offerForm.get('rejectionReason').dirty && offerForm.get('rejectionReason').errors ">
                    <ng-container
                        *ngIf="offerForm.get('rejectionReason')?.dirty && offerForm.get('rejectionReason')?.errors ">
                        Please input rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
</form>
