<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table *ngIf="positionsDisplayData" #positionsTable  nzTableLayout="fixed" [nzData]="positionsDisplayData" [nzPageSize]="10" nzShowSizeChanger>
      <thead class="tableHead">
        <tr>
          <th *ngFor="let column of listOfColumns; trackBy: trackByName"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          class="tableHead">
            <img *ngIf="column.name=='Mark as HOT'" src="../../assets/images/vector.svg" class="vector">
            {{ column.name }}
          </th>
        </tr>
      </thead>
      
      <tbody>
        <ng-container *ngIf="filterParameters.length === 0;">        
          <tr *ngFor="let position of positionsTable.data">
            <td >
              <a class="title" (click)="emitPositionInfo(position.jobDescription)">
                {{ position.title }}
              </a>                                      
            </td>
            <td>
              {{ getSeniorityName(position.seniority) }}
            </td>
            <td>
              {{ position.studio }}
            </td>
            <td>            
              {{ position.community.name }}
            </td>
            <td>
              <div *ngIf="!isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter']) && position.priority" class="hot">
                <img src="../../assets/images/vector.svg" class="vector">HOT
              </div>
              <div *ngIf="isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter'])">
                <!-- <label nz-radio [ngModel]=position.priority (click)="emitRadioClick(position)"></label> -->
                <label *ngIf="position.priority" class="radio" nz-radio [ngModel]=true (click)="emitRadioClick(position)"></label>
                <label *ngIf="!position.priority" class="radio" nz-radio [ngModel]=false (click)="emitRadioClick(position)"></label>
              </div>
            </td>                                          
            <td>
              <div *ngIf="!isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter'])">
                <a (click)="emitPosition(position)" class="apply">Apply</a>
              </div>                                      
              <div *ngIf="isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter'])">
                <i nzTitle="Edit" (click)="emitEdit(position)" style="cursor: pointer;" nz-tooltip nz-icon nzType="edit" theme="outline"></i>
                <nz-divider nzType="vertical"></nz-divider>
                <i nzTitle="Delete" (click)="emitDelete(position.id)" style="cursor: pointer;" nz-tooltip nz-icon nzType="delete" theme="outline"></i>              
              </div>              
            </td>
          </tr>
        </ng-container>
      </tbody>      
    </nz-table>
  </div>
</div>