<div class="add-pre-offer-history">
  <nz-collapse>
    <nz-collapse-panel [nzHeader]="panelControl.name" [(nzActive)]="panelControl.active"
      [nzDisabled]="preOfferStatus !== 8" [nzShowArrow]="panelControl.arrow" (click)="resizeModal()">
      <form nz-form class="editForm" [formGroup]="editForm" [nzLayout]="'horizontal'" class="recru-container">
        <div class="recru-row">
          <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="preOfferDateErrorMsg">
              <nz-date-picker *recruInput="'Pre Offer Date'" style="width: 100%;" formControlName="preOfferDate">
              </nz-date-picker>
              <ng-template #preOfferDateErrorMsg>
                <ng-container *ngIf="editForm.get('preOfferDate').dirty && editForm.get('preOfferDate').errors">
                  Please input a pre-offer date
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="grossSalaryErrorMsg">
              <input *recruInput="'Gross salary'" type="number" nz-input formControlName="salary" id="salary"
                pattern="[0-9]+([\.,][0-9]+)?">
              <ng-template #grossSalaryErrorMsg>
                <ng-container *ngIf="editForm.get('salary').dirty && editForm.get('salary').hasError('required')">
                  Please input the gross salary
                </ng-container>
                <ng-container *ngIf="editForm.get('salary').dirty && editForm.get('salary').hasError('min')">
                  Please input a valid gross salary
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="recru-row">
          <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="healthInsuranceErrorMsg">
              <nz-select *recruInput="'Health insurance'" formControlName="healthInsurance">
                <nz-option *ngFor="let insurance of healthInsuranceList" nzLabel="{{insurance.name}}"
                  [nzValue]="insurance.id">
                </nz-option>
              </nz-select>
              <ng-template #healthInsuranceErrorMsg>
                <ng-container *ngIf="editForm.get('healthInsurance').dirty && editForm.get('healthInsurance').errors">
                  Please input the health insurance
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="recru-col-2 ">
            <nz-form-control>
              <input *recruInput="'Notes'" type="text" nz-input formControlName="notes" id="preOfferHistoryNotes">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="recru-row">
          <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="vacationDaysErrorMsg">
              <input *recruInput="'Vacation days'" type="number" nz-input formControlName="vacationDays"
                id="preOfferHistoryVacationDays" pattern="[0-9]+([\.,][0-9]+)?">
              <ng-template #vacationDaysErrorMsg>
                <ng-container *ngIf="editForm.get('vacationDays').dirty && editForm.get('vacationDays').errors">
                  Please input vacations days
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <!-- This field doesn't have any validation on the script, consider removing the validation message in the future -->
          <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="bonusErrorMsg">
              <input *recruInput="'Bonus'" type="number" nz-input formControlName="bonus" id="preOfferHistoryBonus"
                pattern="[0-9]+([\.,][0-9]+)?">
              <ng-template #bonusErrorMsg>
                <ng-container *ngIf="editForm.get('bonus').dirty && editForm.get('bonus').errors">
                  Please input a valid bonus
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="recru-row">
          <nz-form-item class="recru-col-2 ">
            <nz-form-control>
              <nz-date-picker *recruInput="'Tentative start date'" style="width: 100%;"
                formControlName="tentativeStartDate" [nzDisabledDate]="disabledDate"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="recru-row">
            <button nz-button class="recru-button-center-self" nzType='primary' (click)="addPreOffer()" [disabled]="!addPreOfferButton.enabled">
              Add pre-offer
            </button>
        </div>
        <div nz-row nzJustify="center">
          <div nz-col nz-span="12">
            <span nz-typography nzType="danger" *ngIf="addPreOfferButton.processInvalid">
              Please save this current process before adding a pre-offer
            </span>
            <span nz-typography nzType="danger" *ngIf="addPreOfferButton.preOfferNotConcluded">
              Can't add an pre-offer if the last one is pending or accepted
            </span>
          </div>
        </div>
      </form>
    </nz-collapse-panel>
  </nz-collapse>
</div>

<div class="pre-offer-history-table">
  <nz-table nzBordered [nzData]="preOffers" [nzPageSize]="10">
    <thead>
      <tr>
        <th>Date</th>
        <th>Tentative start date</th>
        <th>Gross salary</th>
        <th>Vacation days</th>
        <th>Health Insurance</th>
        <th>Notes</th>
        <th>Bonus</th>
        <th>Condition</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let preOffer of preOffers;let i = index">
        <td scope="row">
          {{ preOffer.preOfferDate | date: 'dd/MM/yyyy' }}
        </td>
        <td scope="row">
          {{ preOffer.tentativeStartDate | date: 'dd/MM/yyyy' }}
        </td>
        <td scope="row">
          {{ preOffer.salary | currency:'ARS':'symbol-narrow':'1.2-2' }}
        </td>
        <td scope="row">
          {{ preOffer.vacationDays }}
        </td>
        <td scope="row">
          {{ preOffer.healthInsuranceText }}
        </td>
        <td scope="row">
          {{ preOffer.notes }}
        </td>
        <td scope="row">
          {{ preOffer.bonus | currency:'ARS':'symbol-narrow':'1.2-2' }}
        </td>
        <td scope="row">
          <nz-badge [nzStatus]="getStatusColor(preOffer.status)"></nz-badge>
          {{ getStatusName(preOffer.status) }}
        </td>
        <td>
          <i *ngIf="preOffer.status === 8" nzTooltipTitle="Decline" (click)="editStatus('Declined', preOffer.id)"
            style="cursor: pointer;" nz-tooltip nz-icon nzType="stop" theme="outline"></i>
          <nz-divider *ngIf="preOffer.status === 8" nzType="vertical"></nz-divider>
          <i *ngIf="preOffer.status === 8" nzTitle="Accept" (click)="editStatus('Accepted', preOffer.id)"
            style="cursor: pointer;" nz-tooltip nz-icon nzType="check" theme="outline"></i>
          <nz-divider *ngIf="preOffer.status === 8" nzType="vertical"></nz-divider>
          <i *ngIf="preOffer.status === 8" nzTooltipTitle="Delete" (click)="showDeleteConfirm(preOffer.id)"
            style="cursor: pointer;" nz-tooltip nz-icon nzType="delete" theme="outline"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>