<div nz-row>
    <div nz-col nzSpan="24">
        <h1 class="title"> <strong> Submit your referral</strong></h1>
        <form nz-form [formGroup]="candidateForm" [nzLayout]="'horizontal'">
            <br />
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="community" [hidden]="!visible">Community
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                            <nz-select formControlName="community">
                                <nz-option *ngFor="let c of filteredCommunity" nzLabel="{{c.name}}" [nzValue]="c.id">
                                </nz-option>
                            </nz-select>
                            <nz-form-explain
                                *ngIf="candidateForm.get('community').dirty && candidateForm.get('community').errors">
                                Please
                                input the community</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName" [hidden]="!visible">First Name
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                            <input type="text" nz-input formControlName="firstName" id="FirstName"
                                placeholder="Please input the First Name">
                            <nz-form-explain
                                *ngIf="candidateForm.get('firstName').dirty && candidateForm.get('firstName').errors">
                                <ng-container *ngIf="candidateForm.get('firstName')?.hasError('trimBeginError')">
                                    The input has leading whitespace!
                                </ng-container>
                                <ng-container *ngIf="candidateForm.get('firstName')?.hasError('trimEndError')">
                                    The input has trailing whitespace!
                                </ng-container>
                                <ng-container *ngIf="candidateForm.get('firstName')?.hasError('required')">
                                    Please input the First name!
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName" [hidden]="!visible">Last Name
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                            <input type="text" nz-input formControlName="lastName" id="lastName"
                                placeholder="Please input the last name">
                            <nz-form-explain
                                *ngIf="candidateForm.get('lastName').dirty && candidateForm.get('lastName').errors">
                                <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimBeginError')">
                                    The input has leading whitespace!
                                </ng-container>
                                <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimEndError')">
                                    The input has trailing whitespace!
                                </ng-container>
                                <ng-container *ngIf="candidateForm.get('lastName')?.hasError('required')">
                                    Please input the last name!
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" [hidden]="!visible">E-mail</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" [hidden]="!visible">
                            <input nz-input formControlName="email" id="email" placeholder="Please input the email">
                            <nz-form-explain
                                *ngIf="candidateForm.get('email').dirty && candidateForm.get('email').errors">The
                                input is not valid E-mail!</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" [hidden]="!visible">Phone
                        </nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24"
                            [nzValidateStatus]="candidateForm.controls['phoneNumber']" [hidden]="!visible">
                            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                                <ng-template #addOnBeforeTemplate>
                                    <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                                        <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                                        <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                                    </nz-select>
                                </ng-template>
                                <input formControlName="phoneNumber" id="'phoneNumber'" type="tel" pattern="^[0-9 -]+$"
                                    nz-input placeholder="Please input a phone number">
                            </nz-input-group>
                            <nz-form-explain
                                *ngIf="candidateForm.get('phoneNumber').dirty && candidateForm.get('phoneNumber').errors">
                                Please enter a valid phone number</nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <input type="file" name="file" id="file" class="inputfile" (change)="onFileSelect($event)" />
                </div>
            </div>

        </form>
        <div nz-row nzType="flex" nzJustify="center">
            <div nz-col nzSpan="18">
                <nz-divider></nz-divider>
                <div class="buttonsWrapper">
                    <button nz-button nzType="primary" [hidden]="!isNewCandidate" (click)="createNewCandidate()"
                        class="saveButton">SAVE</button>
                    <button nz-button nzType="default" (click)="clearDataAndCloseModal()"
                        class="cancelButton">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>