<div class="text-editor">
  <div #textEditorWrapper [ngClass]="{'recruEdit-wrapper': isEditable, 'recruEdit-editor-noteditable': !isEditable}" tabindex="0">
      <div [ngClass]="{'recruEdit-editor': isEditable}" #editor id="recruEdit-editor" role="textbox" [attr.contenteditable]="isEditable" aria-label="Feedback" data-placeholder="Add Feedback" style="user-select: text;" (keyup)="saveEditor()">
          <div><br></div>
      </div>
      <div #toolbar *ngIf="isToolbarActive" class="recruEdit-toolbar">
          <button *ngFor="let tool of toolbarButtons" type="button" title="{{ tool.name }}" name="{{ tool.name }}" tabindex="0" (click)="toolHandler(tool.name, tool.tagName)">
              <i nz-icon nzType="{{ tool.icon }}" class="ant-table-filter-icon"></i>
          </button>
      </div>
    <div #colorContainer *ngIf="isColorContainerActive" id="recruEdit-color-container" class="recruEdit-color-container" [ngStyle]="{'left.px': colorContainerLeftOffset}">
          <ul class="recruEdit-color-list">
              <li *ngFor="let item of colors" class="recruEdit-color-item" title="{{ item.name }}">
                  <button type="button" title="{{ item.name }}" class="recruEdit-color" [style.backgroundColor]="item.hexCode" (click)="changeBackgoundColor(item.hexCode)">
                  </button>
              </li>
          </ul>
      </div>
      <nz-modal nzClassName="create-link-modal" [(nzVisible)]="isCreateLinkModalVisible" nzTitle="Edit Link" (nzOnCancel)="createLinkModalHandleCancel()" (nzOnOk)="createLinkModalHandleOk()">
        <div class="field-container">
          <input #url nz-input id="url" type="text" [(ngModel)]="urlProtocol" placeholder="Enter url" nzSize="default" />
        </div>
      </nz-modal>
  </div>
</div>