<form nz-form [formGroup]="candidateForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="HR STAGE"></nz-divider>
    <br />
    <div nz-row>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="name"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('name')}">First Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="name" id="name" placeholder="Please input a Name">
                    <nz-form-explain *ngIf="candidateForm.get('name').dirty && candidateForm.get('name').errors">
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('required')">
                            Please input a name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="lastName"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('lastName')}">
                    Last Name</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="lastName" id="lastName"
                        placeholder="Please input a last name">
                    <nz-form-explain
                        *ngIf="candidateForm.get('lastName').dirty && candidateForm.get('lastName').errors">
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('required')">
                            Please input a last name!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="email"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('email')}">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="email" id="email" placeholder="Please input an email">
                    <nz-form-explain>
                        <nz-form-explain class="Error" Id="Error" Name="Error" *ngIf="candidateForm.get('email').dirty
                        && candidateForm.hasError('emailAndPhoneValidator')">
                            Please input a valid Email
                        </nz-form-explain>
                        <nz-form-explain *ngIf="candidateForm.get('email').hasError('emailExists')">
                            The email already exists
                        </nz-form-explain>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="phoneNumber" [ngClass]="{'requiredFieldLabel': isRequiredField('phoneNumber')}">
                    Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="candidateForm.controls['phoneNumber']">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                                <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                                <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="phoneNumber" type="tel" pattern="^[0-9 -]+$" nz-input
                            placeholder="Please input a phone number">
                    </nz-input-group>
                    <nz-form-explain class="Error" Id="Error" Name="Error" *ngIf="candidateForm.get('phoneNumber').dirty
                    && (candidateForm.get('phoneNumber').errors || candidateForm.hasError('emailAndPhoneValidator'))">
                        Please input a phone number!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="linkedin" [ngClass]="{'requiredFieldLabel': isRequiredField('linkedin')}">
                    LinkedIn</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input formControlName="linkedin" id="linkedin" placeholder="Please input the LinkedIn URL">
                    <nz-form-explain *ngIf="candidateForm.get('linkedin').dirty && candidateForm.get('linkedin').errors">
                        <ng-container *ngIf="candidateForm.get('linkedin')?.hasError('trimBeginError')">
                            The input has leading whitespace!
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('linkedin')?.hasError('trimEndError')">
                            The input has trailing whitespace!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('preferredOffice')}">
                    Preferred Office</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="preferredOffice" [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let o of _offices" nzLabel="{{o.name}}" [nzValue]="o.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain
                        *ngIf="candidateForm.get('preferredOffice').dirty && candidateForm.get('preferredOffice').errors">
                        Please input a preferred office</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="community" [ngClass]="{'requiredFieldLabel': isRequiredField('community')}">
                    Community</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="community">
                        <nz-option *ngFor="let c of comms" nzLabel="{{c.name}}" [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="candidateForm.get('community').dirty && candidateForm.get('community').errors">Please input the community</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="11">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="profile" [ngClass]="{'requiredFieldLabel': isRequiredField('profile')}">
                    Profile</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="profile">
                        <nz-option *ngFor="let p of profiles" nzLabel="{{p.name}}" [nzValue]="p.id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item hidden>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('user')}">
                Recruiter</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <nz-select formControlName="user">
                    <nz-option *ngFor="let user of fillUsers" nzLabel="{{user.firstName}} {{user.lastName}}" [nzValue]="user.id">
                    </nz-option>
                </nz-select>
                <nz-form-explain *ngIf="candidateForm.get('user').dirty && candidateForm.get('user').errors">Please input the user</nz-form-explain>
            </nz-form-control>
        </nz-form-item>     
    </div>
</form>
