<br />
<br />
<div nz-row>
  <h1 *ngIf="!isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter'])" class="headerFont">Hello and Welcome
    {{currentUser.firstName}}!
  </h1>
</div>
<br />
<div class="row">
  <nz-tabset [(nzSelectedIndex)]="tabIndex" [nzTabBarExtraContent]="extraContent()">
    <nz-tab nzTitle="{{referralsListTabTitle}}">
      <app-referrals-list (editEvent)="showContactReferralModal($event)" [communities]="communities"
        (deleteEvent)="deleteReferral($event)"></app-referrals-list>
    </nz-tab>
    <nz-tab nzTitle="OPEN POSITIONS" (nzClick)="getOpenPositions()">
      <app-open-positions [positionsDisplayData]="openPositions" [communities]="communities"
        [filteredPositions]="openPositions" (showDeleteConfirm)="deletePositionConfirm($event)"
        (showEdit)="showEditPositionModal($event)" (position)="showContactCandidatesModal(newCandidate, $event)"
        (jobInfo)="showJobDescription($event,jobDescription)" (radioClick)="priorityChange($event)">
      </app-open-positions>
    </nz-tab>
  </nz-tabset>
  <ng-template #newReferralsButton>
    <button *ngIf="!checkHrRole()" class="recru-button-cta recru-button-cta--large" nz-button nzType="primary"
      (click)="showContactCandidatesModal(newCandidate, null)">NEW REFERRAL</button>
  </ng-template>
  <ng-template #newPositionButton>
    <button class="recru-button-cta recru-button-cta--large" nz-button (click)="showOpenPositionModal(newPosition)">ADD
      POSITION</button>
  </ng-template>
</div>






<ng-template #newCandidate>
  <app-referrals-contact [position]=currentPosition [_visible]=true [communities]=communities 
    (refreshTableAction)="refreshReferralsTable($event)"></app-referrals-contact>
</ng-template>

<ng-template #newPosition>
  <app-position-add [_communities]=communities></app-position-add>
</ng-template>

<ng-template #jobDescription>
  <ngx-slick-carousel #slickModal='slick-carousel' #slickJobDescription class="carousel slide-card" [config]="slideConfig"
    (destroy)="closeJobDModal()">
    <div ngxSlickItem *ngFor="let openP of openPositions">
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="headers">
            <h1 class="headerTittle">{{ openP.title}}</h1>
            <h3 class="headerStudio">{{ openP.studio}}</h3>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="slide-card__content">
            <app-text-editor [setContent]="openP.jobDescription" [isToolbarActive]="false"
            [isEditable]="isEditable"></app-text-editor>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-divider></nz-divider>
          <div class="recru-control-buttons__wrapper">
            <button nz-button nzType="default" class="recru-button-secondary" (click)="closeJobDModal()">Close</button>
            <button *ngIf="!isUserRole(['Admin', 'HRManagement', 'HRUser', 'Recruiter'])" nz-button nzType="primary"
              class="recru-button-primary" (click)="applyFromDescription(openP)">Apply referral</button>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</ng-template>