<br />
<div class="tasks__wrapper" *ngIf="toDoListDisplay">
    <div class="tasks__header">
        <div nz-row>
            <div nz-col>
                <h1 class="section-title">
                    B.A Studio Tasks
                </h1>
            </div>
        </div>

        <div class="recru-row">
            <div class="tasks__menu">
                <div class="tasks__main-button">
                    <button class="recru-button-cta recru-button-cta--large" nz-button nzType="primary"
                        (click)="showAddModal(taskModal)">NEW TASK</button>
                </div>
                <div class="tasks__switch">
                    <span class="title" *ngIf="canAssign()">Showing:</span>
                    <nz-switch class="switch" *ngIf="canAssign()" [(ngModel)]="showAllTasks" ngDefaultControl
                        (click)="filterTasks()">
                    </nz-switch>
                </div>
                <div class="tasks__orderby">
                    <a nz-dropdown nzTrigger="hover" class="orderby__button" [nzDropdownMenu]="orderByFilter">
                        <span>
                            {{orderBy}}
                        </span>
                        <i nz-icon nzType="caret-down"></i>
                    </a>
                    <nz-dropdown-menu #orderByFilter="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>
                                <a (click)="orderTasksBy('urgent')">Urgent</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="orderTasksBy('new')">Newest</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="orderTasksBy('old')">Oldest</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
                <div class="tasks__filter">
                    <nz-radio-group [ngModel]="'ALL'">
                        <label nz-radio-button [nzValue]="'ALL'" (click)="showToDoList('ALL')">
                            <span>All</span>
                        </label>
                        <label nz-radio-button [nzValue]="'OPEN'" (click)="showToDoList('OPEN')">
                            <span>Open</span>
                        </label>
                        <label nz-radio-button [nzValue]="'CLOSED'" (click)="showToDoList('CLOSED')">
                            <span>Closed</span>
                        </label>
                    </nz-radio-group>
                </div>
            </div>
        </div>
        <!-- 
        <div nz-row>
            <div nz-col nzSpan="24">
                <button class="recru-button-cta newTask" nz-button nzType="primary"
                    (click)="showAddModal(taskModal)">NEW TASK</button>
            </div>
            <div nz-col nzSpan="3" nzOffset="10">
                <span class="showing" *ngIf="canAssign()">Showing: </span>
                <nz-switch *ngIf="canAssign()" [(ngModel)]="showAllTasks" ngDefaultControl (click)="filterTasks()">
                </nz-switch>
            </div>
            <div class="div-dropdown" nz-col nzSpan="2">
                <a nz-dropdown nzTrigger="hover" [nzDropdownMenu]="orderByFilter">
                    {{orderBy}}
                    <i nz-icon nzType="caret-down"></i>
                </a>
                <nz-dropdown-menu #orderByFilter="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item>
                            <a (click)="orderTasksBy('urgent')">Urgent</a>
                        </li>
                        <li nz-menu-item>
                            <a (click)="orderTasksBy('new')">Newest</a>
                        </li>
                        <li nz-menu-item>
                            <a (click)="orderTasksBy('old')">Oldest</a>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
            <div nz-col nzSpan="4">
                <nz-radio-group *recruInput="'Filter'" (change)="showToDoList($event)">
                    <label nz-radio-button [nzValue]="'ALL'"><span>All</span></label>
                    <label nz-radio-button [nzValue]="'OPEN'"><span>Open</span></label>
                    <label nz-radio-button [nzValue]="'CLOSED'"><span>Closed</span></label>
                </nz-radio-group>
                <nz-button-group>
                    <button class="options" nz-button nzType="default" (click)="showToDoList('ALL')">All</button>
                    <button class="options" nz-button nzType="default" (click)="showToDoList('OPEN')">Open</button>
                    <button class="options" nz-button nzType="default" (click)="showToDoList('CLOSED')">Closed</button>
                </nz-button-group>
            </div>
        </div> -->
    </div>

    <div *ngFor="let toDo of toDoListDisplay | filter:searchTitle:'title'">
        <nz-empty *ngIf="!toDoListDisplay || toDo === -1"
            [nzNotFoundImage]="'assets/images/InboxEmpty.png'" [nzNotFoundContent]="noContent"></nz-empty>
    </div>
    <div *ngIf="toDoListDisplay" nz-row nzAlign="top" [nzGutter]="16">
        <div class="task-boxes"
            *ngFor="let toDo of toDoListDisplay">
            <nz-card class="card-style" [nzBordered]="true" [nzHoverable]="true" [nzExtra]="extraTemplate"
                [nzTitle]="titleTemplate" [ngStyle]="{'background-color': !toDo.isApprove ? '#fafafa' : '#ccff90'    }">
                <ng-template #titleTemplate>
                    <span class="card-title" nz-popover [nzPopoverContent]="toDo.title"
                        nzTooltipContent="top">{{toDo.title}}</span>
                    <br />
                    <span class="card-subtitle" *ngIf="canAssign() && !isCurrentUser(toDo)">Owner:
                        {{toDo.user.firstName}} {{toDo.user.lastName}}</span>
                    <span style="font-size: small;" *ngIf="canAssign() && isCurrentUser(toDo)">Owner: You</span>
                </ng-template>

                <ng-template #extraTemplate>
                    <i *ngIf="shouldShowDeadlineIcon(toDo) && !toDo.isApprove" nz-icon [nzType]="'fire'"
                        class="ant-scroll-number-custom-component font-size-large" [nzTheme]="'twotone'"
                        [nzTwotoneColor]="'red'" nz-popover [nzPopoverContent]="datesTemplate"
                        nzPopoverContent="topLeft"></i>
                    <i *ngIf="!shouldShowDeadlineIcon(toDo) && shouldShowNewIcon(toDo) && !toDo.isApprove" nz-icon
                        [nzType]="'alert'" class="ant-scroll-number-custom-component font-size-large"
                        [nzTheme]="'twotone'" [nzTwotoneColor]="'green'" nz-popover [nzPopoverContent]="datesTemplate"
                        nzPopoverContent="topLeft"></i>
                    <i *ngIf="!shouldShowDeadlineIcon(toDo) && !shouldShowNewIcon(toDo) && !toDo.isApprove" nz-icon
                        [nzType]="'info-circle'" class="ant-scroll-number-custom-component font-size-large primary"
                        [nzTheme]="'outline'" nz-popover [nzPopoverContent]="datesTemplate"
                        nzPopoverContent="topLeft"></i>
                    <i *ngIf="toDo.isApprove" nz-icon [nzType]="'check'"
                        class="ant-scroll-number-custom-component font-size-large success" [nzTheme]="'outline'"
                        nz-popover [nzPopoverContent]="datesTemplate" nzPopoverContent="topLeft"></i>
                </ng-template>

                <ng-template #datesTemplate>
                    <div>
                        <p><strong>Creation Date: </strong>{{toDo.creationDate | date: 'MMM d, y'}}</p>
                        <p><strong>Due Date: </strong>{{toDo.endDate | date: 'MMM d, y'}}</p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == 1 && !toDo.isApprove"><strong
                                class="dates-template success">( {{getDaysLeft(toDo.endDate)}} day left)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) > 1 && !toDo.isApprove"><strong
                                class="dates-template success">( {{getDaysLeft(toDo.endDate)}} days left)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == 0 && !toDo.isApprove"><strong
                                class="dates-template danger">( For today )</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) == -1 && !toDo.isApprove"><strong
                                class="dates-template danger">( {{getDaysLeft(toDo.endDate).toString().substring(1)}}
                                day overdue)</strong></p>
                        <p *ngIf="getDaysLeft(toDo.endDate) < -1 && !toDo.isApprove"><strong
                                class="dates-template danger">( {{getDaysLeft(toDo.endDate).toString().substring(1)}}
                                days overdue)</strong></p>
                        <p *ngIf="toDo.isApprove"><strong class="dates-template primary">Task completed!</strong></p>
                    </div>
                </ng-template>

                <nz-skeleton [nzActive]="true" [nzLoading]="loading">
                    <div *ngFor="let item of toDo.taskItems">
                        <nz-checkbox-wrapper>
                            <label id="{{item.id}}" (mouseenter)="mouseHovering($event)"
                                (mouseleave)="mouseLeft($event)" nz-checkbox *ngIf="!item.checked"
                                (ngModelChange)="changeStatus(toDo.id, item)" [ngModel]="item.checked" ngDefaultControl>
                                <span class="card-item" id="span_{{item.id}}">{{item.text}}<i id="icon_{{item.id}}"
                                        class="icon-right" nz-icon nzType="close" nzTheme="outline"
                                        (click)="removeItem(toDo.id, item)"></i></span>
                            </label>

                        </nz-checkbox-wrapper>
                    </div>
                    <nz-divider nzText="Done"></nz-divider>
                    <div *ngFor="let item of toDo.taskItems">
                        <label nz-checkbox *ngIf="item.checked" (ngModelChange)="changeStatus(toDo.id, item)"
                            [ngModel]="item.checked" ngDefaultControl>
                            <span class="span-decoration">{{item.text}}</span>
                        </label>
                    </div>
                    <div *ngIf="!toDo.isApprove">
                        <nz-divider nzDashed [nzText]="text">
                            <ng-template #text><i class="add-item plus" nz-icon nzType="plus">
                                </i>
                                <span class="add-item">
                                    Add item
                                </span>
                            </ng-template>
                        </nz-divider>
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input class="input" id="newItem_{{toDo.id}}" type="text" nz-input
                                placeholder="Input a new item" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button class="input-button" nz-button nzType="primary" (click)="addItem(toDo.id)" nzSearch>
                                <i nz-icon nzType="plus"></i>
                            </button>
                        </ng-template>
                    </div>
                    <br />
                    <ul class="ant-card-actions">
                        <li [style.width.%]="50" *ngIf="!toDo.isApprove" (click)="checkAll(toDo.id)" nz-tooltip
                            nzTooltipTitle="Check All">
                            <span><i nz-icon nzType="check"></i></span>
                        </li>
                        <li [ngStyle]="{'width.%': !toDo.isApprove ? 50 : 100}" (click)="deleteTask(toDo.id)" nz-tooltip
                            nzTooltipTitle="Delete Task">
                            <span><i nz-icon nzType="delete"></i></span>
                        </li>
                    </ul>
                </nz-skeleton>
            </nz-card>
            <br />
        </div>
    </div>
</div>

<ng-template #taskModal>
    <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'" class="recru-container">

        <div class="recru-row">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="titleErrorMsg">
                    <input *recruInput="'Title'" type="text" nz-input formControlName="title" id="title">
                    <ng-template #titleErrorMsg>
                        <ng-container *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
                            <ng-container *ngIf="validateForm.get('title')?.hasError('required')">
                                Please input the title
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row" *ngIf="canAssign()">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="userErrorMsg">
                    <div class="select-user">
                        <nz-select *recruInput="'User'" formControlName="user" [attr.id]="user" id="user" nzShowSearch
                            nzAllowClear nzPlaceHolder="Select a user">
                            <nz-option *ngFor="let user of users;" nzLabel="{{user.firstName}} {{user.lastName}}"
                                nzValue="{{user.id}}">
                            </nz-option>
                        </nz-select>
                        <button nz-button nzType="primary" nz-tooltip nzTooltipTitle="Assign to me"
                            (click)="assignToMe()">
                            <i nz-icon nzType="user" nzTheme="outline"></i>
                        </button>
                    </div>
                    <ng-template #userErrorMsg>
                        <ng-container
                            *ngIf="validateForm.get('user')?.dirty && validateForm.get('user')?.hasError('required')">
                            Please select a user
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="endDateErrorMsg">
                    <nz-date-picker *recruInput="'End date'" formControlName="endDate"></nz-date-picker>
                    <ng-template #endDateErrorMsg>
                        <ng-container *ngIf="validateForm.get('endDate').dirty && validateForm.get('endDate').errors">
                            <ng-container *ngIf="validateForm.get('endDate')?.hasError('required')">
                                Please input the date
                            </ng-container>
                            <ng-container *ngIf="validateForm.get('endDate')?.hasError('pastDateError')">
                                Please input a date greater than today
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="recru-row">
            <div class="recru-custom-items-list">
                <nz-divider nzText="Items" nzOrientation="left"></nz-divider>
                <div class="recru-custom-items-list__wrapper" *ngFor="let control of controlArray; let i = index">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="taskItemsErrorMsg">
                            <input *recruInput="'Items'" nz-input [attr.id]="control.id"
                                [formControlName]="control.controlInstance" />
                            <ng-template #taskItemsErrorMsg>
                                <ng-container
                                    *ngIf="getFormControl(control.controlInstance)?.dirty && getFormControl(control.controlInstance)?.hasError('required')">
                                    Please input any text or delete this field.
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item class="recru-custom-items-list__button">
                        <a class="recru-button-center-self" (click)="removeField(control ,$event)">
                            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
                        </a>
                    </nz-form-item>
                </div>
                <button nz-button nzType="dashed" class="recru-button-center-self" (click)="addField($event)">
                    <i nz-icon nzType="plus"></i>
                    Add item
                </button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #deadlineIconTemplate>
    <i nz-icon [nzType]="'fire'" class="ant-scroll-number-custom-component font-size-large" [nzTheme]="'twotone'"
        [nzTwotoneColor]="'red'"></i>
</ng-template>

<ng-template #newIconTemplate>
    <i nz-icon [nzType]="'alert'" class="ant-scroll-number-custom-component" [nzTheme]="'twotone'"
        [nzTwotoneColor]="'green'"></i>
</ng-template>

<ng-template #noContent>
    <span class="primary"> There is no data to show. </span>
</ng-template>