<div nz-row>
    <div nz-col nzSpan="23">
        <button nz-button class="recru-button-cta" nzType="primary" (click)="showAddModal(readdressReasonTypeModal)" nzShape="round">
            <i nz-icon nzType="plus" theme="outline"></i>Add new reason category</button>
    </div>
</div>
<br />
<div nz-row>
    <div nz-col nzSpan="23">
        <nz-table #readdressReasonTypeTable [nzData]="listOfDisplayData" [nzPageSize]="10" nzShowSizeChanger>
            <thead>
                <tr>
                    <th nzCustomFilter>Name
                        <nz-filter-trigger #dropdown [nzDropdownMenu]="nameFilter">
                            <i nz-icon nzType="search"></i>
                        </nz-filter-trigger>
                        <nz-dropdown-menu #nameFilter="nzDropdownMenu">
                            <div class="ant-table-filter-dropdown">
                                <div class="search-box">
                                    <input nz-input #focusInput type="text" placeholder="Search name"
                                        [(ngModel)]="searchValue" (keyup.enter)="search()">
                                    <button nz-button nzSize="small" nzType="primary" (click)="search()"
                                        class="search-button">Search</button>
                                    <button nz-button nzSize="small" (click)="reset()">Reset</button>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </th>
                    <th [style.text-align]="'center'">Description</th>
                    <th [style.text-align]="'center'">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let readdressReasonType of readdressReasonTypeTable.data">
                    <td>{{ readdressReasonType.name }}</td>
                    <td>{{ readdressReasonType.description }}</td>
                    <td [style.text-align]="'center'">
                        <i (click)="showDetailsModal(readdressReasonType.id)" style="cursor: pointer;" nz-icon
                            nzType="info-circle" theme="outline" nzTitle="Details" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showEditModal(readdressReasonTypeModal, readdressReasonType.id)"
                            style="cursor: pointer;" nz-icon nzType="edit" theme="outline" nzTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(readdressReasonType.id)" style="cursor: pointer;" nz-icon
                            nzType="delete" theme="outline" nzTitle="Delete" nz-tooltip></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<nz-modal [(nzVisible)]="isDetailsVisible" nzWrapClassName="vertical-center-modal" nzTitle="Reason category Details"
    [nzFooter]="null" (nzOnCancel)="handleCancel()">
    <nz-list nzBordered nzSize="large" *ngIf="emptyReaddressReasonType">
        <nz-list-item><strong style="margin-right: 1%;">Name: </strong> {{emptyReaddressReasonType.name}}</nz-list-item>
        <nz-list-item><strong style="margin-right: 1%;">Description: </strong> {{emptyReaddressReasonType.description}}
        </nz-list-item>
    </nz-list>
</nz-modal>

<ng-template #readdressReasonTypeModal>
    <form nz-form [formGroup]="validateForm" class="recru-container">
        <div class="recru-row">
            <nz-form-item>
                <nz-form-control>
                    <input *recruInput="'Name'" type="text" nz-input formControlName="name" id="name">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="recru-row">
            <nz-form-item>
                <nz-form-control>
                    <input *recruInput="'Description'" type="text" nz-input formControlName="description"
                        id="description">
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</ng-template>
