.side-menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 125px;
    padding: 24px 3px 0px 0px;
    z-index: 1;
    background-color: white;
}

#logo{
  flex-shrink: 1;
  padding: 0;
  height: 216px;
  margin-left: 18px;
  
}
.side-menu .container-item{
  display: flex;
  justify-content: space-around;
  height: 124px;
  align-items: center;
  flex-shrink: 2;
}

.container-item:focus{
  outline: none;
}

.container-item:hover{
  cursor: pointer;
}



.container-item .item{
    display: inline-block;
    text-align: center;
    font-size: 12px;
    letter-spacing: -0.5px;
    margin-top: 8px;
    font-weight: bold;
}

.item i{
    margin-bottom: 10px;
    font-size: 36px;
    
}



.gradient-border{
  width: 8px;
  height: 82px;
  display: inline-block;
}

.active{
  color: #c800a1;
}
.active .gradient-border{
  background-image: linear-gradient(#F4633A, #C800A1);
}