::ng-deep .ant-modal-content {
    align-items: center;
    position: relative;
}

::ng-deep .ant-modal-body {
    font-family: ProximaNova;
    border-radius: 6px;
}

::ng-deep .ant-steps-item-process .ant-steps-item-icon {
    background-color: #f4633a;
    border-color: #f4633a;
}

/* save button */
::ng-deep .ant-modal-footer button+button {
    width: 171px;
    height: 45px;
    border-radius: 2px;
    background-image: linear-gradient(to top, #f4633a, #c800a1);
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
}

/* cancel button */
::ng-deep .ant-modal-footer button {
    width: 171px;
    height: 45px;
    border-radius: 2px;
    border: solid 3px #ff8f1c;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #ff8f1c;
}

/* footer */
::ng-deep .ant-modal-footer {
    text-align: center;
    border-top: 0;
}

/* línea entre stages (stage seleccionado) */
::ng-deep .ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title::after, .ant-steps-item-finish>.ant-steps-item-tail::after {
    border-bottom: 4px solid #c800a1;
}

/* linea estre stages a seleccionar */
::ng-deep .ant-steps-item-process>.ant-steps-item-content>.ant-steps-item-title::after, .ant-steps-item-process>.ant-steps-item-tail::after {
    border-bottom: 4px solid #ecebed;
}

/* icono stage seleccionado */
::ng-deep .ant-steps-item-finish .ant-steps-item-icon {
    background-color: #f4633a;
    border-color: #ff8f1c;
    color: #ffffff;
}

/* titulo stage anterior al seleccionado */
::ng-deep .ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4633a;
}

/* titulo stage seleccionado */
::ng-deep .ant-steps-item-process>.ant-steps-item-content>.ant-steps-item-title {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f4633a;
}

::ng-deep .ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: white;
}

::ng-deep .ant-steps-item-wait>.ant-steps-item-content>.ant-steps-item-title::after, .ant-steps-item-wait>.ant-steps-item-tail::after {
    border-bottom: 4px solid #ecebed;
}

/* English level buttons */

::ng-deep .ant-radio-button-wrapper {
    width: 171px;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    box-shadow: #c800a1;
    border-radius: 6px;
    background-color: #ffffff;
    color: black;
}

::ng-deep .ant-radio-button-wrapper-checked {
    width: 138px;
    height: 40px;
    border-radius: 6px;
    box-shadow: #f4633a;
    background-image: linear-gradient(to top, #ff8f1c, #f4633a);
    padding: 5px 0;
    text-align: center;
    color: #ffffff;
    border: none !important;
}

.flex-container{
    margin-left: 70px;
  }

.englishLabel {
    width: 15%;
}

/* Feedback textarea */
#feedbackLabel {
    width: 77px;
    /* margin-left: 11%; */
    margin-left: 120px;
}

#feedback {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 71.5%;
}

  @media screen and (max-width: 1440px) and (min-width: 1280px){

    #feedbackLabel {
        margin-left: 100px;
     }
  }




 