<div class="container">
  <img src="assets/images/Icon referral@2x.png" alt="">
  <div class="helloMessage"> <strong> Hello and Welcome {{currentUser.firstName}} {{currentUser.lastName}}!</strong></div>
  <p class="paragraphMessage">
    Refer anybody who is matching with our culture, values and philosophy to be part of us. See our current <strong>open
      positions</strong> or refer somebody for future searchings.
  </p>
  <button class="referButton" (click)="startReferralsModal()">Refer Somebody</button>
  <button class="openPositionsButton" (click)="goToReferralsComponent()">See Open Positions</button>
</div>