@import '_mixins';
@import 'variables';

.container {
    max-width: 600px;
    margin: auto;
}

.helloMessage {
    font-family: ProximaNova;
    font-size: 64px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2px;
    color: #000000;
}

.paragraphMessage {
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #C800A1;
}

.referButton {
    width: 215px;
    height: 40px;
    -webkit-text-stroke: 0 #C4C4C4;
    font-family: ProximaNova-Bold;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: $light-color;
    object-fit: contain;
    background-image: $carnival-gradient;
    border: none;
    @include sm {
        width: 100%;
        height: 40px;
    }
    @include md {
        width: 215px;
        height: 40px;
        -webkit-text-stroke: 0 #C4C4C4;
        font-family: ProximaNova-Bold;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.67px;
        color: $light-color;
        object-fit: contain;
        background-image: linear-gradient(to top, #f4633a, #c800a1);
        border: none;
}
}
.openPositionsButton {
    width: 173px;
    height: 22px;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #C800A1;
    background-color: $light-color;
    border: none;
    margin-left: 51px;
    @include sm {
            width: 100%;
            height: 40px;
            margin-left: 0;
    }
    @include md {
        width: 173px;
        height: 22px;
        font-family: ProximaNova;
        font-size: 16px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #C800A1;
        background-color: $light-color;
        border: none;
        margin-left: 51px;
}
}

img {
    width: 143px;
    height: 143px;
}

.buttonContainer{
    @include xl{
        display: flex;
        justify-content: space-around;
    }
    @include sm {
        display: flex;
    flex-direction: column;
    }
}