@import 'variables';

.container {
    position: fixed;
    left: 36%;
    top: 25%;
    transform: translateX(-50%, -50%);
}

.helloMessage {
    width: 616px;
    height: 128px;
    font-family: ProximaNova;
    font-size: 64px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 58px;
    margin-bottom: 49px;
}

.paragraphMessage {
    width: 616px;
    height: 93px;
    font-family: ProximaNova;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #c800a1;
    margin-bottom: 81px;
}

.referButton {
    width: 215px;
    height: 20px;
    -webkit-text-stroke: 0 #c4c4c4;
    font-family: ProximaNova-Bold;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: $light-color;
    width: 215px;
    height: 40px;
    object-fit: contain;
    background-image: $carnival-gradient;
    border: none;
}

.openPositionsButton {
    width: 173px;
    height: 22px;
    font-family: ProximaNova;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c800a1;
    background-color: $light-color;
    border: none;
    margin-left: 51px;
}

img {
    width: 143px;
    height: 143px;
}

@media (max-height: 1024px) {
    .container {
        top: 10%;
    }
}