@import "variables";

.container {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 0px;
}

.sider-menu {
  min-height: 600px;
}

.settings-container {
  height: 100%;

  .ant-menu-item-selected {
    background-image: $carnival-gradient;
  }
}
