<nz-layout class="settings-container">
    <nz-layout>
        <nz-sider>
            <ul nz-menu nzMode="inline" [nzTheme]="'dark'">
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/hire-projected">Hire Project Data</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/employee-casualties">Employee Casualties Data</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/skills-list">Skills List</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/skills-types">Skill Types</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/profiles/candidates-profile">Candidate Profiles</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/profiles/communities">Communities</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/locations/offices">Offices</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/locations/rooms">Rooms</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/roles">Roles</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/festivities">Festivities Reminders</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/declining-reasons">Declining Reasons</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/reasons">Reasons</a>
                </li>
                <li nz-menu-item nzOpen nzTitle="Navigation One" nzIcon="setting">
                    <a routerLink="/settings/reasons-categories">Reasons categories</a>
                </li>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-content>
                <div class="container">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
            <nz-footer>Recru App designed with Ant Design ©2020, Built with Angular</nz-footer>
        </nz-layout>
    </nz-layout>
</nz-layout>