<div nz-row>
    <div nz-col nzSpan="20">
        <button nz-button class="recru-button-cta" nzType="primary" (click)="showAddModal(CompanyCalendarModal)"
            nzShape="round">
            <i nz-icon nzType="plus" theme="outline"></i>Add new festivity/reminder</button>
    </div>
    <div nz-col nzSpan="4">
        <button nz-button nzShape="circle" nzType="dashed" nzType="info" (click)="showCalendarModal()">
            <i nz-icon nzType="calendar"></i>
        </button>
    </div>
</div>

<br />
<div nz-row>
    <div nz-col nzSpan="22">
        <nz-table #CompanyCalendarTable [nzData]="listOfCompanyCalendar" [nzPageSize]="10">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let CompanyCalendar of CompanyCalendarTable.data">
                    <td>{{ CompanyCalendar.type }}</td>
                    <td>{{ CompanyCalendar.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ CompanyCalendar.comments | truncate: 75 }}</td>
                    <td>
                        <i (click)="showEditModal(CompanyCalendarModal, CompanyCalendar.id)" style="cursor: pointer;"
                            nz-icon nzType="edit" theme="outline" nzTooltipTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(CompanyCalendar.id)" style="cursor: pointer;" nz-icon
                            nzType="delete" theme="outline" nzTooltipTitle="Delete" nz-tooltip hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #CompanyCalendarModal>
    <form nz-form [formGroup]="validateForm" [nzLayout]="'horizontal'" class="recru-container">
        <div class="recru-row">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="typeErrorMsg">
                    <nz-radio-group *recruInput="'Type'" formControlName="type">
                        <label nz-radio-button nzValue="Festivity">
                            <span>Festivity</span>
                        </label>
                        <label nz-radio-button nzValue="Reminder">
                            <span>Reminder</span>
                        </label>
                    </nz-radio-group>
                    <ng-template #typeErrorMsg>
                        <ng-container *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors">
                            <ng-container *ngIf="validateForm.get('type')?.hasError('required')">
                                Please input the type
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="recru-row">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="dateErrorMsg">
                    <nz-date-picker *recruInput="'Date'" style="width: 100%;" formControlName="date" nzFormat="yyyy-MM-dd"
                        [nzDisabledDate]="disabledDate">
                    </nz-date-picker>
                    <ng-template #dateErrorMsg>
                        <ng-container *ngIf="validateForm.get('date').dirty && validateForm.get('date').errors">
                            Please input a date
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="recru-row">
            <nz-form-item>
                <nz-form-control [nzErrorTip]="commentsErrorMsg">
                    <input *recruInput="'Comments'" type="text" nz-input formControlName="comments" id="comments">
                    <ng-template #commentsErrorMsg>
                        <ng-container *ngIf="validateForm.get('comments').dirty && validateForm.get('comments').errors">
                            <ng-container *ngIf="validateForm.get('comments')?.hasError('required')">
                                Please input the comments.
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</ng-template>

<div id="myModalCalendar" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeCalendarModal()">&times;</span>
        <app-notice-calendar [listOfCompanyCalendar]="listOfCompanyCalendar"></app-notice-calendar>
    </div>
</div>