.tableHead {
    th{
        color: rgba(0,0,0,.85);
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
    }
  }

  .HRCandidateColumnColor {
      color: #c800a1;
  }