<form nz-form [formGroup]="technicalForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="TECHNICAL STAGE"></nz-divider>
    <br />
    <nz-form-item hidden>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('status')}">
                    Status</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="statusErrorMsg">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged($event)">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #statusErrorMsg>
                        <ng-container *ngIf="technicalForm.get('status').dirty && technicalForm.get('status').errors">
                            Please select a status
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="date"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('date')}">
                    Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="dateErrorMsg">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <ng-template #dateErrorMsg>
                        <ng-container *ngIf="technicalForm.get('date').dirty && technicalForm.get('date').errors">
                            Please input a date
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row *ngIf="CanShowReaddressPossibility()">
        <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">
            Reason
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select formControlName="reasonSelectControl"
            [(ngModel)]="selectedReason"
            (ngModelChange)="getSelectedReason($event)" nzPlaceHolder="select from list">
                <nz-option *ngFor="let reason of readdressFilteredList" nzLabel="{{reason.name}}" nzValue="{{reason.id}}">
                </nz-option>
            </nz-select>
            </nz-form-control>
        </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">
            Reason explanation
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
            <textarea rows="1 " nz-input id="readdressReason" formControlName="reasonDescriptionTextAreaControl"
                        placeholder="Input the reason"
                        (input)="onDescriptionChange($event.target.value)"></textarea>
            </nz-form-control>
        </nz-form-item>
        </div>
    </div>

    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('userOwnerId')}">
                    Interviewer</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="interviewerErrorMsg">
                    <nz-select formControlName="userOwnerId" nzPlaceHolder="Select the owner of the process">
                        <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}}"
                            [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #interviewerErrorMsg>
                        <ng-container
                            *ngIf="technicalForm.get('userOwnerId').dirty && technicalForm.get('userOwnerId').errors">
                            Please input the user
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userDelegateId"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('userDelegateId')}">
                    Delegate</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="delegateErrorMsg">
                    <nz-select formControlName="userDelegateId" nzPlaceHolder="Select a delegate for the process">
                        <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}}"
                            [nzValue]="c.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #delegateErrorMsg>
                        <ng-container
                            *ngIf="technicalForm.get('userDelegateId').dirty && technicalForm.get('userDelegateId').errors">
                            Please input the user
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senioritySelect"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('seniority')}">
                    Seniority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="seniorityErrorMsg">
                    <nz-select #senioritySelect formControlName="seniority" (ngModelChange)="updateSeniority(senioritySelect.activatedValue)">
                        <nz-option *ngFor="let seniority of seniorityList | slice: 1" nzLabel="{{seniority.name}}"
                            [nzValue]="seniority.id">
                        </nz-option>
                    </nz-select>
                    <ng-template #seniorityErrorMsg>
                        <ng-container
                            *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">
                            Please select a seniority
                        </ng-container>
                    </ng-template>
                </nz-form-control>

            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="alternativeSeniority"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('alternativeSeniority')}">
                    Alternative Seniority</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="alternateSeniorityErrorMsg">
                    <nz-select #alternativeSeniority formControlName="alternativeSeniority"
                        (ngModelChange)="updateAlternativeSeniority(alternativeSeniority.activatedValue)">
                        <span *ngFor="let seniority of seniorityList">
                            <nz-option *ngIf="chosenSeniority === 0 && seniority.id === 1
                                ; else anotherChosenSeniority" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                            </nz-option>

                            <ng-template #anotherChosenSeniority>
                                <nz-option
                                    *ngIf="chosenSeniority && seniority.id === chosenSeniority + 1 || seniority.id === chosenSeniority - 1; else noChosenSeniority"
                                    nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                                </nz-option>
                            </ng-template>
                            <ng-template #noChosenSeniority>
                                <nz-option *ngIf="seniority.id === 0" nzLabel="{{seniority.name}}"
                                    [nzValue]="seniority.id">
                                </nz-option>
                            </ng-template>
                        </span>
                    </nz-select>
                    <ng-template #alternateSeniorityErrorMsg>
                        <ng-container
                            *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">
                            Please select a seniority
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="feedback"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('feedback')}">
                    Feedback</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" >
                    <app-text-editor [setContent]="feedbackContent" (getContent)="getFeedbackContent($event)"
                        [isToolbarActive]="true" [isEditable]="true"></app-text-editor>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="client"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('client')}">
                    Client</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="clientErrorMsg">
                    <input nz-input id="client" formControlName="client"
                        placeholder="Input the client that best suits" />
                    <ng-template #clientErrorMsg>
                        <ng-container style="color:#f5222d"
                            *ngIf="technicalForm.get('client').dirty && technicalForm.get('client').errors">
                            <ng-container *ngIf="technicalForm.get('client')?.hasError('pattern')">
                                Please input only letters, numbers and space
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label [nzSm]="3" [nzXs]="24" nzFor="englishLevel"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('englishLevel')}">
                    English Level
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <div class="flex-container">
                        <nz-radio-group formControlName="englishLevel">
                            <label *ngFor="let level of englishLevelList" nz-radio-button [nzDisabled]="disabled"
                                [nzValue]="level.id"><span>{{level.name}}</span></label>
                        </nz-radio-group>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- NOTE: Deprecated. To be removed in future version
    <div nz-row>
        <div nz-col nzSpan="12" style="display:none">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="rejectionReason"
                    [ngClass]="{'requiredFieldLabel': isRequiredField('rejectionReason')}">
                    Rejection Reason</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="rejectionReasonErrorMsg">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason"
                        placeholder="Input the rejection reason"></textarea>
                    <ng-template #rejectionReasonErrorMsg>
                        <ng-container style="color: #f5222d "
                            *ngIf="showRejectionReason() && technicalForm.get('rejectionReason').dirty && technicalForm.get('rejectionReason').errors ">
                            <ng-container
                                *ngIf="technicalForm.get('rejectionReason')?.dirty && technicalForm.get('rejectionReason')?.errors ">
                                Please input rejection reason!
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div> -->
    <div nz-row>
        <div nz-col nzSpan="24">
            <nz-form-item *ngFor="let control of controlArray;let i = index">
                <nz-form-label [nzXs]="24" [nzSm]="3" *ngIf="i === 0">
                    Skills</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="19" [nzOffset]="i !== 0 ? 3 : 0" [nzErrorTip]="skillsErrorMsg">
                    <div class="skill-control" [ngClass]="{ highlightedSkill: isFirstSkillControl(control) }">
                        <div class="item">
                            <nz-select [nzDisabled]="disabled" (ngModelChange)="updateSkills(control)"
                                [formControlName]="control.controlInstance[0]" [attr.id]="control.id" id="control.id"
                                nzShowSearch nzAllowClear [nzAllowClear]="false" nzPlaceHolder="Select a skill">
                                <ng-container *ngFor="let skill of skills">
                                    <nz-option *ngIf="isAvailable(skill)" nzLabel="{{skill.name}}"
                                        nzValue="{{skill.id}}">
                                    </nz-option>
                                </ng-container>
                            </nz-select>
                            <ng-template #skillsErrorMsg>
                                <ng-container
                                    *ngIf="getFormControl(control.controlInstance[0])?.dirty&&getFormControl(control.controlInstance[0])?.hasError('required')">
                                    Please input candidate's skill or delete this field.
                                </ng-container>
                            </ng-template>
                        </div>
                        <div class="item">
                            <nz-form-control>
                                <nz-slider [nzDisabled]="disabled" formControlName="{{control.controlInstance[1]}}"
                                    id="control.controlInstance[1]">
                                </nz-slider>
                            </nz-form-control>
                        </div>
                        <div class="item">
                            <nz-form-control [nzSm]="14" [nzXs]="24" style="margin-left: 10%; width: 85%;"
                                [nzErrorTip]="skillCommentErrorMsg">
                                <input type="text" nz-input formControlName="{{control.controlInstance[2]}}"
                                    style="width: 100%;" placeholder="Please input a comment">
                                <ng-template #skillCommentErrorMsg>
                                    <ng-container
                                        *ngIf="technicalForm.get(control.controlInstance[2]).dirty && technicalForm.get(control.controlInstance[2]).errors">
                                        <ng-container
                                            *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('required')">
                                            Please input a comment!
                                        </ng-container>
                                        <ng-container
                                            *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('pattern')">
                                            Please input only letters, numbers and space
                                        </ng-container>
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </div>
                        <a (click)="removeField(control,$event)">
                            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
                        </a>
                    </div>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item hidden>
                <nz-form-control>
                    <label nz-checkbox name="sentEmail"></label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div nz-row nzJustify="center">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:24,offset:2}">
                    <button nz-button nzType="dashed" style="width:100%" (click)="addField($event)"
                        [hidden]="hideAddSkillButton()"><i nz-icon nzType="plus"></i>
                        Add Skill</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>