<form nz-form [formGroup]="technicalForm" [nzLayout]="'horizontal'" class="recru-container">
    <nz-divider nzText="TECHNICAL STAGE"></nz-divider>
    <nz-form-item hidden>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="statusErrorMsg">
                <nz-select *recruInput="'Status'" formControlName="status" (ngModelChange)="statusChanged($event)">
                    <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                    </nz-option>
                </nz-select>
                <ng-template #statusErrorMsg>
                    <ng-container *ngIf="technicalForm.get('status').dirty && technicalForm.get('status').errors">
                        Please select a status
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="dateErrorMsg">
                <nz-date-picker *recruInput="'Date'" formControlName="date" style="width: 100%;"></nz-date-picker>
                <ng-template #dateErrorMsg>
                    <ng-container *ngIf="technicalForm.get('date').dirty && technicalForm.get('date').errors">
                        Please input a date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" *ngIf="CanShowReaddressPossibility()">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Reason'" formControlName="reasonSelectControl"
                    nzPlaceHolder="Select rejection reason" (ngModelChange)="getSelectedReason($event)">
                    <nz-option *ngFor="let reason of readdressFilteredList" nzLabel="{{reason.name}}"
                        nzValue="{{reason.id}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Reason explanation'" nz-input formControlName="reasonDescriptionTextAreaControl"
                    (input)="onDescriptionChange($event.target.value)">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="interviewerErrorMsg">
                <nz-select *recruInput="'Interviewer'" formControlName="userOwnerId"
                    nzPlaceHolder="Select the owner of the process">
                    <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}}"
                        [nzValue]="c.id">
                    </nz-option>
                </nz-select>
                <ng-template #interviewerErrorMsg>
                    <ng-container
                        *ngIf="technicalForm.get('userOwnerId').dirty && technicalForm.get('userOwnerId').errors">
                        Please input the user
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="delegateErrorMsg">
                <nz-select *recruInput="'Delegate'" formControlName="userDelegateId"
                    nzPlaceHolder="Select a delegate for the process">
                    <nz-option *ngFor="let c of usersFiltered" nzLabel="{{c.firstName}} {{c.lastName}}"
                        [nzValue]="c.id">
                    </nz-option>
                </nz-select>
                <ng-template #delegateErrorMsg>
                    <ng-container
                        *ngIf="technicalForm.get('userDelegateId').dirty && technicalForm.get('userDelegateId').errors">
                        Please input the user
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="seniorityErrorMsg">
                <nz-select #senioritySelect *recruInput="'Seniority'" formControlName="seniority"
                    (ngModelChange)="updateSeniority(senioritySelect.activatedValue)" nzPlaceHolder="Select a seniority level">
                    <nz-option *ngFor="let seniority of seniorityList | slice: 1" nzLabel="{{seniority.name}}"
                        [nzValue]="seniority.id">
                    </nz-option>
                </nz-select>
                <ng-template #seniorityErrorMsg>
                    <ng-container *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">
                        Please select a seniority
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="alternateSeniorityErrorMsg">
                <nz-select #alternativeSeniority *recruInput="'Alternative Seniority'"
                    formControlName="alternativeSeniority"
                    (ngModelChange)="updateAlternativeSeniority(alternativeSeniority.activatedValue)" nzPlaceHolder="Select a seniority level">
                    <span *ngFor="let seniority of seniorityList">
                        <nz-option *ngIf="chosenSeniority === 0 && seniority.id === 1
                                ; else anotherChosenSeniority" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                        </nz-option>

                        <ng-template #anotherChosenSeniority>
                            <nz-option
                                *ngIf="chosenSeniority && seniority.id === chosenSeniority + 1 || seniority.id === chosenSeniority - 1; else noChosenSeniority"
                                nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                            </nz-option>
                        </ng-template>
                        <ng-template #noChosenSeniority>
                            <nz-option *ngIf="seniority.id === 0" nzLabel="{{seniority.name}}" [nzValue]="seniority.id">
                            </nz-option>
                        </ng-template>
                    </span>
                </nz-select>
                <ng-template #alternateSeniorityErrorMsg>
                    <ng-container *ngIf="technicalForm.get('seniority').dirty && technicalForm.get('seniority').errors">
                        Please select a seniority
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <app-text-editor *recruInput="'Feedback'" [setContent]="feedbackContent"
                    (getContent)="getFeedbackContent($event)" [isToolbarActive]="true" [isEditable]="true">
                </app-text-editor>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="clientErrorMsg">
                <input *recruInput="'Client'" nz-input id="client" formControlName="client" />
                <ng-template #clientErrorMsg>
                    <ng-container style="color:#f5222d"
                        *ngIf="technicalForm.get('client').dirty && technicalForm.get('client').errors">
                        <ng-container *ngIf="technicalForm.get('client')?.hasError('pattern')">
                            Please input only letters, numbers and space
                        </ng-container>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item>
            <nz-form-control>
                <nz-radio-group *recruInput="'English Level'" formControlName="englishLevel">
                    <label *ngFor="let level of englishLevelList" nz-radio-button [nzDisabled]="disabled"
                        [nzValue]="level.id"><span>{{level.name}}</span></label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" [hidden]="hideAddSkillButton()">
        <div class="recru-custom-items-list">
            <nz-divider nzText="Skills" nzOrientation="left"></nz-divider>
            <div class="recru-custom-items-list__wrapper" *ngFor="let control of controlArray;let i = index"
                [ngClass]="{ 'highlight-border': isFirstSkillControl(control) }">
                <nz-form-item class="recru-custom-items-list__item">
                    <nz-form-control [nzErrorTip]="skillsErrorMsg">
                        <nz-select *recruInput="'Skill'" [nzDisabled]="disabled" (ngModelChange)="updateSkills(control)"
                            [formControlName]="control.controlInstance[0]" [attr.id]="control.id" id="control.id"
                            nzShowSearch nzPlaceHolder="Select a skill">
                            <ng-container *ngFor="let skill of skills">
                                <nz-option *ngIf="isAvailable(skill)" nzLabel="{{skill.name}}" nzValue="{{skill.id}}">
                                </nz-option>
                            </ng-container>
                        </nz-select>
                        <ng-template #skillsErrorMsg>
                            <ng-container
                                *ngIf="getFormControl(control.controlInstance[0])?.dirty && getFormControl(control.controlInstance[0])?.hasError('required')">
                                Please input candidate's skill
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="recru-custom-items-list__item">
                    <nz-form-control>
                        <nz-slider *recruInput="'Level'" [nzDisabled]="disabled" formControlName="{{control.controlInstance[1]}}"
                            id="{{control.controlInstance[1]}}">
                        </nz-slider>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="recru-custom-items-list__item">
                    <nz-form-control [nzErrorTip]="skillCommentErrorMsg">
                        <input *recruInput="'Comment'" type="text" nz-input formControlName="{{control.controlInstance[2]}}">
                        <ng-template #skillCommentErrorMsg>
                            <ng-container
                                *ngIf="technicalForm.get(control.controlInstance[2]).dirty && technicalForm.get(control.controlInstance[2]).errors">
                                <ng-container
                                    *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('required')">
                                    Please input a comment.
                                </ng-container>
                                <ng-container
                                    *ngIf="technicalForm.get(control.controlInstance[2])?.hasError('pattern')">
                                    Please input only letters, numbers and space
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="recru-custom-items-list__button">
                    <a class="recru-button-center-self" (click)="removeField(control,$event)">
                        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button"></i>
                    </a>
                </nz-form-item>
            </div>
            <button nz-button nzType="dashed" class="recru-button-center-self" (click)="addField($event)">
                <i nz-icon nzType="plus"></i>
                Add Skill
            </button>
        </div>
        <nz-form-item hidden>
            <nz-form-control>
                <label nz-checkbox name="sentEmail"></label>
            </nz-form-control>
        </nz-form-item>
    </div>
</form>