<div nz-row>
    <div nz-col nzSpan="22">
        <button nz-button nzType="primary" (click)="showAddModal(roleModal)" nzShape="round">
            <i nz-icon nzType="plus" theme="outline"></i>Add new Role</button>
    </div>
</div>

<br />
<div nz-row>
    <div nz-col nzSpan="22">
        <nz-table #RoleTable [nzData]="roles" [nzPageSize]="10" *ngIf="roles.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of RoleTable.data">
                    <td>{{ role.name }}</td>
                    <td *ngIf="role.isActive; else Inactive">Active</td>
                    <td>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showEditModal(roleModal, role)" style="cursor: pointer;" nz-icon nzType="edit"
                            theme="outline" nzTooltipTitle="Edit" nz-tooltip></i>
                        <nz-divider nzType="vertical"></nz-divider>
                        <i (click)="showDeleteConfirm(role)" style="cursor: pointer;" nz-icon nzType="delete"
                            theme="outline" nzTooltipTitle="Delete" nz-tooltip hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #Inactive>
    <td>Inactive</td>
</ng-template>

<ng-template #roleModal>
    <form nz-form [formGroup]="roleForm">
        <div nz-row>
            <div nz-col nzSpan="22">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">Name</nz-form-label>
                    <nz-form-control [nzSm]="7" [nzXs]="24" [nzErrorTip]="nameErrorMsg">
                        <input type="text" nz-input formControlName="name" id="name"
                            placeholder="Please input the Name">
                        <ng-template #nameErrorMsg>
                            <ng-container *ngIf="roleForm.get('name').dirty && roleForm.get('name').errors">
                                <ng-container *ngIf="roleForm.get('name')?.hasError('trimBeginError')">
                                    The input has leading whitespace!
                                </ng-container>
                                <ng-container *ngIf="roleForm.get('name')?.hasError('trimEndError')">
                                    The input has trailing whitespace!
                                </ng-container>
                                <ng-container *ngIf="roleForm.get('name')?.hasError('required')">
                                    Please input the name!
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="22">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="isActive">Status</nz-form-label>
                    <nz-select formControlName="isActive" style="width: 100px;">
                        <nz-option nzLabel="Active" nzValue="true"></nz-option>
                        <nz-option nzLabel="Inactive" nzValue="false"></nz-option>
                    </nz-select>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>