@import 'variables';

.card {
    border-style:solid;
    border-width: thick;
}

input[type="file"] { display: none; }

.inputfile + label {
    font-size: 1.24em;
    font-weight: 500;
    color: grey;
    background-color: $light-color;
    display: inline-block;
}

.inputfile + label {
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: black;
}


.btn[type="button"] { display: none; }

.btn + label {
    font-size: 1.24em;
    font-weight: 500;
    color: grey;
    background-color: $light-color;
    display: inline-block;
}

.btn:focus + label,
.btn + label:hover {
    color: black;
    cursor: pointer;
}

.btn:disabled + label,
.btn:disabled + label:hover {
    color: rgb(190, 190, 190);
    cursor: default;
}