<form nz-form [formGroup]="candidateForm" [nzLayout]="'horizontal'" class="recru-container">
    <nz-divider nzText="HR STAGE"></nz-divider>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="firstNameErrorMsg">
                <input *recruInput="'First Name'" type="text" nz-input formControlName="name" id="name">
                <ng-template #firstNameErrorMsg>
                    <ng-container *ngIf="candidateForm.get('name').dirty && candidateForm.get('name').errors">
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('required')">
                            Please input a name
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('name')?.hasError('pattern')">
                            Please input only letters and space
                        </ng-container>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="lastNameErrorMsg">
                <input *recruInput="'Last Name'" type="text" nz-input formControlName="lastName" id="lastName">
                <ng-template #lastNameErrorMsg>
                    <ng-container *ngIf="candidateForm.get('lastName').dirty && candidateForm.get('lastName').errors">
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('required')">
                            Please input a last name
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('lastName')?.hasError('pattern')">
                            Please input only letters and space
                        </ng-container>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 "
            [ngClass]="{'ant-form-item-has-error': ((candidateForm.get('email').dirty || candidateForm.get('phoneNumber').dirty) && (candidateForm.get('email').hasError('emailAndPhoneValidator') || candidateForm.get('email').hasError('email'))) }">
            <nz-form-control [nzErrorTip]="emailErrorMsg" [nzValidateStatus]="candidateForm.controls['email']">
                <input *recruInput="'E-mail'" nz-input formControlName="email" id="email">
                <ng-template #emailErrorMsg>
                    <ng-container *ngIf="!candidateInfo?.isReferred; else noExistingEmailCheck">
                        <ng-container class="ant-form-item-explain" Id="Error" Name="Error"
                            *ngIf="candidateForm.get('email').hasError('email') && !candidateForm.get('email').hasError('emailAndPhoneValidator')">
                            Enter a valid e-mail address
                        </ng-container>
                        <ng-container *ngIf="candidateForm.get('email').hasError('emailExists')">
                            E-mail address already exists
                        </ng-container>
                        <ng-container
                            *ngIf="(candidateForm.get('email').dirty || candidateForm.get('phoneNumber').dirty) && candidateForm.get('email').hasError('emailAndPhoneEmpty')">
                            Please enter a valid email or phone number
                        </ng-container>
                    </ng-container>
                    <ng-template #noExistingEmailCheck>
                        <ng-container>
                            <ng-container
                                *ngIf="candidateForm.get('email').hasError('email') && !candidateForm.get('email').hasError('emailAndPhoneValidator')">
                                Enter a valid e-mail address
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ng-template>
                <div *ngIf="(candidateForm.get('email').dirty || candidateForm.get('phoneNumber').dirty) && candidateForm.get('email').hasError('emailAndPhoneValidator')"
                    class="ant-form-item-explain">Please input a valid email or a valid phone number</div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item class="recru-col-2 " [ngClass]="{'ant-form-item-has-error': ((candidateForm.get('email').dirty  || candidateForm.get('phoneNumber').dirty) && 
        (candidateForm.get('email').hasError('emailAndPhoneValidator') || candidateForm.get('phoneNumber').errors)) }">
            <nz-form-control [nzValidateStatus]="candidateForm.controls['phoneNumber']"
                [nzErrorTip]="phoneNumberErrorMsg">
                <nz-input-group *recruInput="'Phone Number'" [nzAddOnBefore]="addOnBeforeTemplate">
                    <input formControlName="phoneNumber" placeholder=" " id="phoneNumber" maxlength="11" type="tel" pattern="^[0-9]+$"
                        nz-input>
                    <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
                            <nz-option nzLabel="+54" nzValue="+54"></nz-option>
                            <nz-option nzLabel="+1" nzValue="+1"></nz-option>
                        </nz-select>
                    </ng-template>
                </nz-input-group>
                <ng-template #phoneNumberErrorMsg>
                    <ng-container class="ant-form-item-explain" Id="Error" Name="Error"
                        *ngIf="!candidateForm.get('phoneNumber').dirty || candidateForm.get('phoneNumber').errors">
                        Please input a valid email or a valid phone number
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'LinkedIn'" nz-input formControlName="linkedin" id="linkedin">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="preferredOfficeErrorMsg">
                <nz-select *recruInput="'Office'" formControlName="preferredOffice"
                    nzPlaceHolder="Select preferred office">
                    <nz-option *ngFor="let o of _offices" nzLabel="{{o.name}}" [nzValue]="o.id">
                    </nz-option>
                </nz-select>
                <ng-template #preferredOfficeErrorMsg>
                    <ng-container
                        *ngIf="candidateForm.get('preferredOffice').dirty && candidateForm.get('preferredOffice').errors">
                        Please input a preferred office
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="communityErrorMsg">
                <nz-select *recruInput="'Community'" formControlName="community" nzPlaceHolder="Select community" (ngModelChange)="getProfile()">
                    <nz-option *ngFor="let c of comms" nzLabel="{{c.name}}" [nzValue]="c.id">
                    </nz-option>
                </nz-select>
                <ng-template #communityErrorMsg>
                    <ng-container *ngIf="candidateForm.get('community').dirty && candidateForm.get('community').errors">
                        Please input the community
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Profile'" formControlName="profile" nzPlaceHolder="Select profile" (ngModelChange)="setCurrentProfile()">
                    <nz-option *ngFor="let p of availableProfiles" nzLabel="{{p.name}}" [nzValue]="p.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="recruiterErrorMsg">
                <nz-select *recruInput="'Recruiter'" formControlName="user" nzPlaceHolder="Select the recruiter">
                    <nz-option *ngFor="let user of fillUsers" nzLabel="{{user.firstName}} {{user.lastName}}"
                        [nzValue]="user.id">
                    </nz-option>
                </nz-select>
                <ng-template #recruiterErrorMsg>
                    <ng-container *ngIf="candidateForm.get('user').dirty && candidateForm.get('user').errors">
                        Please input the user
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Source'" formControlName="source"
                    nzPlaceHolder="Select the source of the candidate">
                    <nz-option *ngFor="let s of sourceArray" nzLabel="{{s.name}}" [nzValue]="s.name">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
</form>