.addInterview {
  margin-bottom: 1rem;
}

.interviewEditor ::ng-deep .ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 10px;
}

.action-btn {
  color: inherit;
}

.client-table__row {
  width: 500px;
}

.interviewEditor ::ng-deep .recruEdit-editor {
  max-height: 60px;
  height: auto;
}

.interviewEditor nz-form-item {
  margin-bottom: 0;
}
