<form nz-form [formGroup]="clientForm" [nzLayout]="'horizontal'" class="recru-container">
    <nz-divider nzText="CLIENT STAGE"></nz-divider>
    <nz-form-item hidden>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>

    <div class="recru-row">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="statusErrorMsg">
                <nz-select *recruInput="'Status'" formControlName="status" (ngModelChange)="statusChanged()"
                    nzPlaceHolder="Select the status of the stage">
                    <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                    </nz-option>
                </nz-select>
                <ng-template #statusErrorMsg>
                    <ng-container *ngIf="clientForm.get('status').dirty && clientForm.get('status').errors">
                        Please select a status
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control [nzErrorTip]="dateOfPresentationErrorMsg">
                <nz-date-picker *recruInput="'Date of Presentation'" style="width: 100%;" formControlName="date">
                </nz-date-picker>
                <ng-template #dateOfPresentationErrorMsg>
                    <ng-container *ngIf="clientForm.get('date').dirty && clientForm.get('date').errors">
                        Please input a date
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" *ngIf="CanShowReaddressPossibility()">
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <nz-select *recruInput="'Reason'" formControlName="reasonSelectControl"
                    nzPlaceHolder="Select rejection reason" (ngModelChange)="getSelectedReason($event)">
                    <nz-option *ngFor="let reason of readdressFilteredList" nzLabel="{{reason.name}}"
                        nzValue="{{reason.id}}">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Reason explanation'" nz-input formControlName="reasonDescriptionTextAreaControl"
                    (input)="onDescriptionChange($event.target.value)">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row" hidden>
        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Interviewer'" type="text" nz-input formControlName="interviewer" id="interviewer">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="recru-col-2 ">
            <nz-form-control>
                <input *recruInput="'Delegate'" type="text" nz-input formControlName="delegateName" id="delegateName">
            </nz-form-control>
        </nz-form-item>
    </div>

    <div class="recru-row">

        <nz-form-item hidden>
            <nz-form-control [nzErrorTip]="feedbackErrorMsg">
                <app-text-editor *recruInput="'Feedback'" [setContent]="feedbackContent"
                    (getContent)="getFeedbackContent($event)">
                </app-text-editor>
            </nz-form-control>
        </nz-form-item>

    </div>
</form>

<div nz-row>
    <div nz-col nzSpan="24">
        <nz-divider nzText="INTERVIEWS"></nz-divider>
    </div>
</div>
<div class="addInterview recru-container">
    <nz-collapse [hidden]="hideAddNewInterviewForm()">
        <nz-collapse-panel [nzHeader]="panelControl.name" [(nzActive)]="panelControl.acitve"
            [nzShowArrow]="panelControl.arrow" (click)="resizeModal()">
            <form nz-form [formGroup]="interviewForm" [nzLayout]="'horizontal'" class="recru-container">
                <div class="recru-row">
                    <nz-form-item class="recru-col-2 ">
                        <nz-form-control [nzErrorTip]="dateErrorMsg">
                            <nz-date-picker *recruInput="'Date'" [(ngModel)]="resetInterviewDate" style="width: 100%;"
                                formControlName="interviewDate">
                            </nz-date-picker>
                            <ng-template #dateErrorMsg>
                                <ng-container
                                    *ngIf="interviewForm.get('interviewDate').dirty && interviewForm.get('interviewDate').errors">
                                    Field required
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-col-2 ">
                        <nz-form-control [nzErrorTip]="clientErrorMsg">
                            <input #interviewClient *recruInput="'Client'" type="text" nz-input
                                formControlName="interviewClient" id="interviewClient">
                            <ng-template #clientErrorMsg>
                                <ng-container
                                    *ngIf="interviewForm.get('interviewClient').dirty && interviewForm.get('interviewClient').errors">
                                    Field required
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="recru-row">
                    <nz-form-item class="recru-col-2 ">
                        <nz-form-control>
                            <input #clientInterviewer *recruInput="'Interviewer'" type="text" nz-input
                                formControlName="clientInterviewer" id="clientInterviewer">
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item class="recru-col-2 ">
                        <nz-form-control>
                            <input #project *recruInput="'Project'" type="text" nz-input formControlName="project"
                                id="project">
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="recru-row">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="feedbackErrorMsg">
                            <app-text-editor *recruInput="'Feedback'" [setContent]="feedbackContent"
                                (getContent)="getFeedbackContent($event)" [isToolbarActive]="true" [isEditable]="true">
                            </app-text-editor>
                            <ng-template #feedbackErrorMsg>
                                <ng-container
                                    *ngIf="interviewForm.get('interviewFeedback').dirty && interviewForm.get('interviewFeedback').errors">
                                    <ng-container *ngIf="interviewForm.get('interviewFeedback')?.hasError('required')">
                                        Field required
                                    </ng-container>
                                    <ng-container *ngIf="interviewForm.get('interviewFeedback')?.hasError('maxlength')">
                                        The maximun length is 1000
                                    </ng-container>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="recru-row">
                    <button nz-button nzType="primary" class="recru-button-center-self" (click)="addInterview()">Add
                        Interview</button>
                </div>
            </form>
        </nz-collapse-panel>
    </nz-collapse>
</div>
<div class="interviewEditor">
    <form [formGroup]="interviewTableRowEdit" class="recru-container">
        <nz-table #interviewTable id="interviewTable" nzBordered [nzData]="interviews" [nzShowPagination]="false"
            [nzPageSize]="interviews.length">
            <thead>
                <tr>
                    <th [nzWidth]="'16%'">Date</th>
                    <th [nzWidth]="'15%'">Client</th>
                    <th [nzWidth]="'35%'">Feedback</th>
                    <th [nzWidth]="'14%'">Interviewer</th>
                    <th [nzWidth]="'15%'">Project</th>
                    <th [nzWidth]="'5%'">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="client-table__row" *ngFor="let interview of interviewTable.data">
                    <ng-container *ngIf="!editCache[interview.id].edit; else editTemplate">
                        <td>{{interview.interviewDate | date  : 'shortDate' }}</td>
                        <td>{{interview.client}}</td>
                        <td>
                            <app-text-editor [setContent]="interview.feedback"
                                (getContent)="getFeedbackContent($event)"></app-text-editor>
                        </td>
                        <td>{{interview.clientInterviewer}}</td>
                        <td>{{interview.project}}</td>
                        <td>
                            <a class="action-btn" (click)="startEdit(interview.id)">
                                <i nz-tooltip nz-icon nzTooltipTitle="Edit" nzType="edit" theme="outline"></i>
                            </a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a class="action-btn" (click)="showDeleteConfirmDialog(interview.id)">
                                <i nz-tooltip nz-icon nzTooltipTitle="Delete" nzType="delete" theme="outline"></i>
                            </a>
                        </td>
                    </ng-container>
                    <ng-template #editTemplate>
                        <td>
                            <nz-form-item>
                                <nz-form-control [nzErrorTip]="dateEditErrorMsg">
                                    <nz-date-picker [(ngModel)]="editCache[interview.id].data.interviewDate"
                                        formControlName="interviewEditDate" id="interviewEditDate"></nz-date-picker>
                                    <ng-template #dateEditErrorMsg>
                                        <ng-container
                                            *ngIf="interviewTableRowEdit.get('interviewEditDate').dirty && interviewTableRowEdit.get('interviewEditDate').errors">
                                            <ng-container
                                                *ngIf="interviewTableRowEdit.get('interviewEditDate')?.hasError('required')">
                                                Field required
                                            </ng-container>
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                        <td>
                            <nz-form-item>
                                <nz-form-control [nzErrorTip]="clientEditErrorMsg">
                                    <input type="text" nz-input [(ngModel)]="editCache[interview.id].data.client"
                                        formControlName="interviewEditClient" id="interviewEditClient" />
                                    <ng-template #clientEditErrorMsg>
                                        <ng-container
                                            *ngIf="interviewTableRowEdit.get('interviewEditDate').dirty && interviewTableRowEdit.get('interviewEditDate').errors">
                                            Field required
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                        <td>
                            <nz-form-item>
                                <nz-form-control [nzErrorTip]="feedbackEditErrorMsg">
                                    <app-text-editor [setContent]="editCache[interview.id].data.feedback"
                                        (getContent)="getFeedbackToCache($event,interview.id)" [isEditable]="true">
                                    </app-text-editor>
                                    <ng-template #feedbackEditErrorMsg>
                                        <ng-container
                                            *ngIf="interviewForm.get('interviewEditFeedback').dirty && interviewForm.get('interviewEditFeedback').errors">
                                            <ng-container
                                                *ngIf="interviewForm.get('interviewEditFeedback')?.hasError('required')">
                                                Field required
                                            </ng-container>
                                            <ng-container
                                                *ngIf="interviewForm.get('interviewEditFeedback')?.hasError('maxlength')">
                                                The maximun length is 1000
                                            </ng-container>
                                        </ng-container>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                        <td>
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="text" nz-input
                                        [(ngModel)]="editCache[interview.id].data.clientInterviewer"
                                        formControlName="interviewEditInterviewer" id="interviewEditInterviewer" />
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                        <td>
                            <nz-form-item>
                                <nz-form-control>
                                    <input type="text" nz-input [(ngModel)]="editCache[interview.id].data.project"
                                        formControlName="interviewEditProject" id="interviewEditProject" />
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                        <td>
                            <nz-form-item>
                                <nz-form-control>
                                    <a (click)="editInterview(interview.id)">
                                        <i nzTitle="Accept" nz-tooltip nz-icon nzType="check" theme="outline"></i>
                                    </a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a (click)="cancelEdit(interview.id)">
                                        <i nzTitle="Cancel" nz-tooltip nz-icon nzType="undo" theme="outline"></i>
                                    </a>
                                </nz-form-control>
                            </nz-form-item>
                        </td>
                    </ng-template>
                </tr>
            </tbody>
        </nz-table>
    </form>
</div>