<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table *ngIf="positionsDisplayData" #positionsTable  nzTableLayout="fixed" [nzData]="positionsDisplayData" [nzPageSize]="10" nzShowSizeChanger>
      <thead class="tableHead">
        <tr>
          <th *ngFor="let column of listOfColumns; trackBy: trackByName"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          class="tableHead">
            {{ column.name }}
          </th>
        </tr>
      </thead>
      
      <tbody>
        <ng-container *ngIf="filterParameters.length === 0;">        
          <tr *ngFor="let position of positionsTable.data">
            <td class="title">
                {{ position.title }}            
            </td>
            <td>
              {{ getSeniorityName(position.seniority) }}
            </td>
            <td>
              {{ position.studio }}
            </td>
            <td>            
              {{ position.community.name }}
            </td>
            <td>
              <div *ngIf="position.priority" class="hot">
                <img src="../../assets/images/vector.svg" class="vector">HOT
              </div>            
            </td>
            <td *ngIf="!isUserRole(['Admin', 'HRManagement', 'HRUser'])">            
              <a (click)="emitPosition(position)" class="apply">Apply</a>
            </td>
            <td>
              <i nzTitle="Edit" (click)="emitEdit(position)" style="cursor: pointer;" nz-tooltip nz-icon nzType="edit" theme="outline"></i>
              <nz-divider nzType="vertical"></nz-divider>
              <i nzTitle="Delete" (click)="emitDelete(position.id)" style="cursor: pointer;" nz-tooltip nz-icon nzType="delete" theme="outline"></i>              
            </td>
          </tr>
        </ng-container>
      </tbody>      
    </nz-table>
  </div>
</div>