<!-- <div nz-row nzJustify="start">
  <div nz-col nzSpan="2">
    <div class="clearFilters">
      <button nz-button (click)="resetFilters()">Clear filters</button>
    </div>
  </div>
</div> -->
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table *ngIf="positionsDisplayData" #positionsTable  nzTableLayout="fixed" [nzData]="positionsDisplayData" [nzPageSize]="10" nzShowSizeChanger>
      <thead class="tableHead">
        <tr>
          <th *ngFor="let column of listOfColumns; trackBy: trackByName"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
          class="tableHead">
            {{ column.name }}
          </th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let position of positionsTable.data">
          <td scope="row" class="title">
              {{ position.title }}            
          </td>
          <td scope="row">
            {{ getSeniorityName(position.seniority) }}
          </td>
          <td scope="row">
            {{ position.studio }}
          </td>
          <td scope="row">            
            {{ position.community.name }}
          </td>
          <td scope="row">
            <div *ngIf="position.priority" class="hot">
              <img src="../../assets/images/vector.svg" class="vector">HOT
            </div>            
          </td>
          <td scope="row">            
            <a class="apply">Apply</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>