<div class="terms__waves"></div>
<div class="termsContainer">
    <h1 class="terms-hero-text__subtitle termsHeaderFont">Terms and Conditions</h1>

    <ul>
        <li>
            El candidato deberá ser cargado en Recru con al menos un medio de contacto (mail/ teléfono).
        </li>
        <li>
            El empleado deberá actualizar el CV de sus referidos cada 6 meses; caso contrario quedarán sin efecto.
        </li>
        <li>
            En el caso de que dos empleados carguen al sistema a una misma persona, la prioridad será del primer
            empleado
            que lo refirió.
        </li>
        <li>
            El candidato será tenido en cuenta como referido siempre y cuando no haya sido contactado por Softvision
            anteriormente.
        </li>
        <li>
            El monto del bono se irá actualizando de forma mensual.
        </li>
        <li>
            El monto del bono que el empleado perciba por sus referidos, será el correspondiente a la fecha en la cual
            el
            referido se cargó en el sistema.
        </li>
        <li>
            El bono se cobrará cuando la persona referida cumpla 3 meses de antigüedad en Cognizant Softvision.
        </li>
        <li>
            Aplica solo para perfiles IT, no áreas de staff.
        </li>
    </ul>


</div>