<div class="terms__waves"></div>
<div class="termsContainer">
    <h1 class="terms-hero-text__subtitle termsHeaderFont">Terms and Conditions</h1>


    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam deserunt nam, odit, placeat ex sapiente,
        optio
        sit
        earum illum aperiam? Nam quas ea voluptatem voluptates unde, numquam laborum ex. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Earum quaerat reprehenderit nihil consequuntur, officia fuga, saepe mollitia
        officiis
        amet doloremque voluptatum temporibus expedita nulla id voluptatibus quam quod recusandae numquam. Lorem,
        ipsum
        dolor sit amet consectetur adipisicing elit. Totam porro sapiente quaerat rem possimus animi expedita ab
        nulla
        illo
        facilis adipisci, omnis consequatur ea error odio obcaecati? Magni, dolores quasi. Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Error illo consectetur quaerat debitis, pariatur eligendi consequuntur in
        mollitia,
        ducimus excepturi dolores reprehenderit, animi obcaecati doloribus doloremque. In, quos? Sunt, similique.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam deserunt nam, odit, placeat ex sapiente,
        optio
        sit
        earum illum aperiam? Nam quas ea voluptatem voluptates unde, numquam laborum ex. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Earum quaerat reprehenderit nihil consequuntur, officia fuga, saepe mollitia
        officiis
        amet doloremque voluptatum temporibus expedita nulla id voluptatibus quam quod recusandae numquam. Lorem,
        ipsum
        dolor sit amet consectetur adipisicing elit. Totam porro sapiente quaerat rem possimus animi expedita ab
        nulla
        illo
        facilis adipisci, omnis consequatur ea error odio obcaecati? Magni, dolores quasi. Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Error illo consectetur quaerat debitis, pariatur eligendi consequuntur in
        mollitia,
        ducimus excepturi dolores reprehenderit, animi obcaecati doloribus doloremque. In, quos? Sunt, similique.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam deserunt nam, odit, placeat ex sapiente,
        optio
        sit
        earum illum aperiam? Nam quas ea voluptatem voluptates unde, numquam laborum ex. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Earum quaerat reprehenderit nihil consequuntur, officia fuga, saepe mollitia
        officiis
        amet doloremque voluptatum temporibus expedita nulla id voluptatibus quam quod recusandae numquam. Lorem,
        ipsum
        dolor sit amet consectetur adipisicing elit. Totam porro sapiente quaerat rem possimus animi expedita ab
        nulla
        illo
        facilis adipisci, omnis consequatur ea error odio obcaecati? Magni, dolores quasi. Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Error illo consectetur quaerat debitis, pariatur eligendi consequuntur in
        mollitia,
        ducimus excepturi dolores reprehenderit, animi obcaecati doloribus doloremque. In, quos? Sunt, similique.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam deserunt nam, odit, placeat ex sapiente,
        optio
        sit
        earum illum aperiam? Nam quas ea voluptatem voluptates unde, numquam laborum ex. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Earum quaerat reprehenderit nihil consequuntur, officia fuga, saepe mollitia
        officiis
        amet doloremque voluptatum temporibus expedita nulla id voluptatibus quam quod recusandae numquam. Lorem,
        ipsum
        dolor sit amet consectetur adipisicing elit. Totam porro sapiente quaerat rem possimus animi expedita ab
        nulla
        illo
        facilis adipisci, omnis consequatur ea error odio obcaecati? Magni, dolores quasi. Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Error illo consectetur quaerat debitis, pariatur eligendi consequuntur in
        mollitia,
        ducimus excepturi dolores reprehenderit, animi obcaecati doloribus doloremque. In, quos? Sunt, similique.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ullam deserunt nam, odit, placeat ex sapiente,
        optio
        sit
        earum illum aperiam? Nam quas ea voluptatem voluptates unde, numquam laborum ex. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Earum quaerat reprehenderit nihil consequuntur, officia fuga, saepe mollitia
        officiis
        amet doloremque voluptatum temporibus expedita nulla id voluptatibus quam quod recusandae numquam. Lorem,
        ipsum
        dolor sit amet consectetur adipisicing elit. Totam porro sapiente quaerat rem possimus animi expedita ab
        nulla
        illo
        facilis adipisci, omnis consequatur ea error odio obcaecati? Magni, dolores quasi. Lorem ipsum dolor sit
        amet,
        consectetur adipisicing elit. Error illo consectetur quaerat debitis, pariatur eligendi consequuntur in
        mollitia,
        ducimus excepturi dolores reprehenderit, animi obcaecati doloribus doloremque. In, quos? Sunt, similique.
    </p>

</div>