<div class="terms__waves"></div>
<div class="termsContainer">
    <h1 class="terms-hero-text__subtitle termsHeaderFont">Terms and Conditions</h1>
    
    <p>
        El candidato deberá ser cargado en Recru con al menos un medio de contacto (mail/ teléfono)
    </p>
    <p>
        El empleado deberá actualizar el CV de sus referidos cada 6 meses; caso contrario quedarán sin efecto.
    </p>
    <p>
        En el caso de que dos empleados carguen al sistema a una misma persona, la prioridad será del primer empleado
        que lo refirió.
    </p>
    <p>
        El candidato será tenido en cuenta como referido siempre y cuando no haya sido contactado por Softvision
        anteriormente.
    </p>
    <p>
        El monto del bono se irá actualizando de forma mensual.
    </p>
    <p>
        El monto del bono que el empleado perciba por sus referidos, será el correspondiente a la fecha en la cual el
        referido se cargó en el sistema.
    </p>
    <p>
        El bono se cobrará cuando la persona referida cumpla 3 meses de antigüedad en Cognizant Softvision.
    </p>
    <p>
        Aplica solo para perfiles IT, no áreas de staff.
    </p>

</div>