<form nz-form [formGroup]="clientForm" [nzLayout]="'horizontal'">
    <nz-divider nzText="CLIENT STAGE"></nz-divider>
    <br />
    <nz-form-item>
        <nz-form-control>
            <input type="hidden" formControlName="id">
        </nz-form-control>
    </nz-form-item>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('status')}">
                    Status
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-select formControlName="status" (ngModelChange)="statusChanged()">
                        <nz-option *ngFor="let status of statusList" nzLabel="{{status.name}}" [nzValue]="status.id">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="clientForm.get('status').dirty && clientForm.get('status').errors">Please select a status</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="date" [ngClass]="{'requiredFieldLabel': isRequiredField('date')}">
                    Date
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="date"></nz-date-picker>
                    <nz-form-explain *ngIf="clientForm.get('date').dirty && clientForm.get('date').errors">
                        Please input a date
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
        <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="type" [ngClass]="{'requiredFieldLabel': isRequiredField('interviewer')}">
                    Interviewer
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                            <input type="text" nz-input formControlName="interviewer" id="interviewer" placeholder="Please input the interviewer's name">
                    </nz-form-control>
        </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
        <nz-form-item>
            <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="delegateName" [ngClass]="{'requiredFieldLabel': isRequiredField('delegateName')}">
                Delegate
            </nz-form-label>
               <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" nz-input formControlName="delegateName" id="delegateName" placeholder="Please input the delegate name">
                </nz-form-control>
        </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="feedback" [ngClass]="{'requiredFieldLabel': isRequiredField('feedback')}">
                    Feedback
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1" id="feedback" nz-input formControlName="feedback" placeholder="Input any additional information if necessary" id="feedback"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d" *ngIf="clientForm.get('feedback').dirty && clientForm.get('feedback').errors">
                    <ng-container *ngIf="clientForm.get('feedback')?.hasError('trimBeginError')">
                        The input has leading whitespace!
                    </ng-container>
                    <ng-container *ngIf="clientForm.get('feedback')?.hasError('trimEndError')">
                        The input has trailing whitespace!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="showRejectionReason()">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="rejectionReason" [ngClass]="{'requiredFieldLabel': isRequiredField('rejectionReason')}">
                    Rejection Reason
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="rejectionReason" formControlName="rejectionReason" placeholder="Input the rejection reason"></textarea>
                </nz-form-control>
                <nz-form-explain style="color: #f5222d " *ngIf="showRejectionReason() && clientForm.get('rejectionReason').dirty && clientForm.get('rejectionReason').errors ">
                    <ng-container *ngIf="clientForm.get('rejectionReason')?.dirty && clientForm.get('rejectionReason')?.errors ">
                        Please input rejection reason!
                    </ng-container>
                </nz-form-explain>
            </nz-form-item>
        </div>
    </div>
</form>
<form nz-form [formGroup]="interviewForm" [nzLayout]="'horizontal'">
    <div nz-row>
        <nz-divider nzText="INTERVIEWS"></nz-divider>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="interviewDate">Date</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" formControlName="interviewDate"></nz-date-picker>
                    <nz-form-explain *ngIf="interviewForm.get('interviewDate').dirty && interviewForm.get('interviewDate').errors">
                        Field required
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="interviewClient">Client</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="interviewClient" id="interviewClient" placeholder="Enter the client's name">
                    <nz-form-explain *ngIf="interviewForm.get('interviewClient').dirty && interviewForm.get('interviewClient').errors">
                        Field required
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="clientInterviewer">Interviewer</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="clientInterviewer" id="clientInterviewer" placeholder="Enter the interviewer's full name">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="project">Project</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" nz-input formControlName="project" id="project" placeholder="Enter the project's name">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="interviewFeedback">Feedback</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <textarea rows="1 " nz-input id="interviewFeedback" formControlName="interviewFeedback" placeholder="Enter feedback here"></textarea>
                    <nz-form-explain *ngIf="interviewForm.get('interviewFeedback').dirty && interviewForm.get('interviewFeedback').errors">
                        Field required
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <button nz-button nzType="primary" (click)="addInterview()">Add Interview</button>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <nz-table #interviewTable [nzData]="interviews" [nzShowPagination]="false" [nzPageSize]="interviews.length" [nzScroll]="{ y: '200px' }" >
          <thead>
            <tr>
              <th>Date</th>
              <th>Client</th>
              <th>Feedback</th>
              <th>Interviewer</th>
              <th>Project</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interview of interviewTable.data.reverse()">
              <td>{{interview.interviewDate | date  : 'shortDate' }}</td>
              <td>{{interview.client}}</td>
              <td>{{interview.feedback}}</td>
              <td>{{interview.clientInterviewer}}</td>
              <td>{{interview.project}}</td>
            </tr>
          </tbody>
        </nz-table>
    </div>
</form>