@font-face {
  font-family: ProximaNova;
  font-weight: normal;
  src: url("~/assets/fonts/proximaNova/ProximaNova-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url("~/assets/fonts/proximaNova/ProximaNova-Bold.ttf") format("truetype");
}

@font-face {
  font-family: ProximaNova-Extrabold;
  src: url("~/assets/fonts/proximaNova/ProximaNova-Extrabold.ttf")
    format("opentype");
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url("~/assets/fonts/proximaNova/ProximaNova-Semibold.ttf")
    format("truetype");
}
