<div>
  <div *ngIf="cand.status === 0 && cand.cv === null">
    <div class="card border-secondary mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
      <p class="card-text text-muted text-center mb-3">Status: New</p>
        <p class="card-text text-muted text-center mb-1">CV: </p>
        <p class="card-text text-muted text-center mb-1">
          
          <input type="file" name="file" id="file" class="inputfile" ng2FileSelect [uploader]="uploader" />
          <label for="file" class="text-center mb-1">Choose a file</label>

        </p>
        <p class="card-text text-muted text-center mb-1">

          <button type="button" name="button" id="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()" [disabled]="!hasFile">
          <span class="fa fa-upload"></span> Upload
          </button>
          <label for="button" class="text-center mb-1">Upload</label>

        </p>
      </div>
    </div>
  </div>

  <div *ngIf="cand.status === 0 && cand.cv != null">
    <div class="card border-secondary mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
      <p class="card-text text-muted text-center mb-3">Status: New</p>
      <p class="card-text text-muted text-center mb-1">CV: </p>
      <p class="card-text text-muted text-center mb-1">
        
        <a link href="https://drive.google.com/open?id={{cand.cv}}" target="_blanck"><nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'file'" ></nz-avatar></a>

      </p>
      </div>
    </div>
  </div>

  <div *ngIf="cand.status === 1">
    <div class="card border-info mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
        <p class="card-text text-muted text-center">Status: In progress</p>
        <p class="card-text text-muted text-center mb-1">CV: </p>
        <p class="card-text text-muted text-center mb-1">
          
          <a link  href="https://drive.google.com/open?id={{cand.cv}}" target="_blanck"><nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'file'" ></nz-avatar></a>

      </div>
    </div>
  </div>
  <div *ngIf="cand.status === 2">
    <div class="card border-warning mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
        <p class="card-text text-muted text-center">Status: Recall</p>
        <p class="card-text text-muted text-center mb-1">CV: </p>
        <p class="card-text text-muted text-center mb-1">
          
          <a link  href="https://drive.google.com/open?id={{cand.cv}}" target="_blanck"><nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'file'" ></nz-avatar></a>

        </p>
      </div>
    </div>
  </div>
  <div *ngIf="cand.status === 3">
    <div class="card border-success mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
        <p class="card-text text-muted text-center">Status: Hired</p>
        <p class="card-text text-muted text-center mb-1">CV: </p>
        <p class="card-text text-muted text-center mb-1">
          
          <a link  href="https://drive.google.com/open?id={{cand.cv}}" target="_blanck"><nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'file'" ></nz-avatar></a>

      </div>
    </div>
  </div>
  <div *ngIf="cand.status === 4">
    <div class="card border-danger mb-3">
      <div class="card-img-wrapper text-center mt-2">
        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzIcon]="'user'"></nz-avatar>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-2">
          {{cand.name}} {{cand.lastName}}
        </h6>
        <p class="card-text text-muted text-center mb-1">Profile: {{cand.profile.name}}</p>
        <p class="card-text text-muted text-center mb-1">Community: {{cand.community.name}}</p>
        <p class="card-text text-muted text-center">Status: Rejected</p>
        <p class="card-text text-muted text-center mb-1">CV: </p>
        <p class="card-text text-muted text-center mb-1">
          
          <a link  href="https://drive.google.com/open?id={{cand.cv}}" target="_blanck"><nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'file'" ></nz-avatar></a>

        </p>
      </div>
    </div>
  </div>
</div>